In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [3]:
raw = pd.read_csv("../data/de_party_voted_78_raw.csv")

In [4]:
raw.head()

,cntry,cname,cedition,cproddat,cseqno,name,essround,edition,idno,dweight,pspwght,pweight,prtvede1
0,DE,ESS1-8e01,1.0,12.12.2018,84321,ESS7e02_2,7,2.2,10000011,0.531346,0.607555,2.304126,2
1,DE,ESS1-8e01,1.0,12.12.2018,84322,ESS7e02_2,7,2.2,10000021,0.531346,0.462666,2.304126,1
2,DE,ESS1-8e01,1.0,12.12.2018,84323,ESS7e02_2,7,2.2,10000051,1.227808,0.640290,2.304126,1
3,DE,ESS1-8e01,1.0,12.12.2018,84324,ESS7e02_2,7,2.2,10000061,1.227808,1.142616,2.304126,1
4,DE,ESS1-8e01,1.0,12.12.2018,84325,ESS7e02_2,7,2.2,10000111,1.227808,0.852731,2.304126,1

In [8]:
raw.columns

Index(['cntry', 'cname', 'cedition', 'cproddat', 'cseqno', 'name', 'essround',
       'edition', 'idno', 'dweight', 'pspwght', 'pweight', 'prtvede1'],
      dtype='object')

In [10]:
de_parties = raw.drop(columns=['cname', 
                  'cedition', 
                  'cproddat', 
                  'cseqno', 
                  'name',
                  'edition',
                  'dweight', 
                  'pspwght', 
                  'pweight'])

In [11]:
de_parties.head()

  cntry  essround      idno  prtvede1
0    DE         7  10000011         2
1    DE         7  10000021         1
2    DE         7  10000051         1
3    DE         7  10000061         1
4    DE         7  10000111         1

In [15]:
de_parties = de_parties.rename(columns={"cntry":"country",
                                        "essround":"round",
                                        "prtvede1":"party"})

In [16]:
de_parties.head()

  country  round      idno  party
0      DE      7  10000011      2
1      DE      7  10000021      1
2      DE      7  10000051      1
3      DE      7  10000061      1
4      DE      7  10000111      1

In [17]:
de_parties.shape

(5897, 4)