In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
raw = pd.read_csv("../data/FR_hv_parties_678_raw.csv")
pd.set_option('display.max_columns', 500)

In [3]:
raw.head()

,cntry,cname,cedition,cproddat,cseqno,name,essround,edition,idno,dweight,pspwght,pweight,lrscale,prtvtcfr,ipcrtiv,imprich,ipeqopt,ipshabt,impsafe,impdiff,ipfrule,ipudrst,ipmodst,ipgdtim,impfree,iphlppl,ipsuces,ipstrgv,ipadvnt,ipbhprp,iprspot,iplylfr,impenv,imptrad,impfun
0,FR,ESS1-8e01,1.0,12.12.2018,155261,ESS6e02_4,6,2.4,4,1.098133,0.761439,2.702678,5,66,3,4,1,2,4,4,5,3,4,4,2,4,4,2,5,4,1,4,3,5,4
1,FR,ESS1-8e01,1.0,12.12.2018,155262,ESS6e02_4,6,2.4,6,2.196265,1.545594,2.702678,8,10,5,4,1,1,1,1,1,1,1,1,4,2,4,1,1,1,1,1,1,1,1
2,FR,ESS1-8e01,1.0,12.12.2018,155263,ESS6e02_4,6,2.4,10,1.098133,0.772797,2.702678,9,10,1,6,1,6,1,5,1,1,1,1,6,1,6,1,6,1,1,1,1,4,5
3,FR,ESS1-8e01,1.0,12.12.2018,155264,ESS6e02_4,6,2.4,12,2.196265,1.356859,2.702678,10,10,1,1,1,1,1,4,1,1,1,1,1,1,5,1,1,1,1,1,2,1,1
4,FR,ESS1-8e01,1.0,12.12.2018,155265,ESS6e02_4,6,2.4,13,1.098133,0.589189,2.702678,77,66,4,6,1,6,1,1,1,1,1,2,4,1,6,1,5,1,1,1,1,1,1

In [4]:
raw.columns

Index(['cntry', 'cname', 'cedition', 'cproddat', 'cseqno', 'name', 'essround',
       'edition', 'idno', 'dweight', 'pspwght', 'pweight', 'lrscale',
       'prtvtcfr', 'ipcrtiv', 'imprich', 'ipeqopt', 'ipshabt', 'impsafe',
       'impdiff', 'ipfrule', 'ipudrst', 'ipmodst', 'ipgdtim', 'impfree',
       'iphlppl', 'ipsuces', 'ipstrgv', 'ipadvnt', 'ipbhprp', 'iprspot',
       'iplylfr', 'impenv', 'imptrad', 'impfun'],
      dtype='object')

In [5]:
raw_clean = raw.drop(columns=['cname', 
                              'cedition', 
                              'cproddat', 
                              'cseqno',
                              'name',
                              'edition',
                              'dweight', 
                              'pspwght', 
                              'pweight'])

In [6]:
raw_clean.head()

,cntry,essround,idno,lrscale,prtvtcfr,ipcrtiv,imprich,ipeqopt,ipshabt,impsafe,impdiff,ipfrule,ipudrst,ipmodst,ipgdtim,impfree,iphlppl,ipsuces,ipstrgv,ipadvnt,ipbhprp,iprspot,iplylfr,impenv,imptrad,impfun
0,FR,6,4,5,66,3,4,1,2,4,4,5,3,4,4,2,4,4,2,5,4,1,4,3,5,4
1,FR,6,6,8,10,5,4,1,1,1,1,1,1,1,1,4,2,4,1,1,1,1,1,1,1,1
2,FR,6,10,9,10,1,6,1,6,1,5,1,1,1,1,6,1,6,1,6,1,1,1,1,4,5
3,FR,6,12,10,10,1,1,1,1,1,4,1,1,1,1,1,1,5,1,1,1,1,1,2,1,1
4,FR,6,13,77,66,4,6,1,6,1,1,1,1,1,2,4,1,6,1,5,1,1,1,1,1,1

In [7]:
cols = {'ipcrtiv':'new_ideas',
        'imprich':'rich',
        'ipeqopt':'equality',
        'ipshabt':'abilities',
        'impsafe':'safety',
        'impdiff':'new_diff',
        'ipfrule':'obey',
        'ipudrst':'understand_diff',
        'ipmodst':'modesty',
        'ipgdtim':'good_time',
        'impfree':'freedom',
        'iphlppl':'help_others',
        'ipsuces':'success',
        'ipstrgv':'strong_gov',
        'ipadvnt':'adventures',
        'ipbhprp':'behave',
        'iprspot':'get_respect',
        'iplylfr':'loyalty',
        'impenv':'nature',
        'imptrad':'traditions',
        'impfun':'fun_pleasure',
        'cntry':'country',
        'essround':'round',
        'lrscale':'leftright_scale',
        'prtvtcfr':'party'}

In [8]:
fr_hv = raw_clean.rename(columns=cols)

In [9]:
fr_hv["idno"].value_counts()

4120    3
1369    3
2722    3
2718    3
2629    3
       ..
198     1
4292    1
2235    1
4280    1
4098    1
Name: idno, Length: 3625, dtype: int64

In [10]:
fr_hv[fr_hv["idno"]==4120]

,country,round,idno,leftright_scale,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
1938,FR,6,4120,9,66,2,5,1,3,2,2,4,2,2,2,4,2,4,3,6,2,4,2,1,2,4
3854,FR,7,4120,6,2,4,6,3,6,5,5,5,3,2,4,4,4,6,5,5,5,5,3,3,3,5
5897,FR,8,4120,6,66,1,3,2,1,1,1,2,1,2,1,1,2,1,1,2,3,2,2,3,4,2

In [11]:
#Also in the case of FR, some ids were used repeatedly but this is not an issue now

In [12]:
fr_hv["party"].value_counts()

66    2196
9     1147
10     966
2      377
77     243
12     189
6      145
88     141
11     134
15      95
7       58
8       49
13      48
1       42
5       38
14      37
4       26
16      15
3        9
Name: party, dtype: int64

### We divide our df in 3: 
### fr_ext: those who voted for FN (party == 2) 
### fr_novot: those who didn´t vote (party == 66)
### for_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [13]:
fr_ext = fr_hv[fr_hv["party"] == 2]

In [14]:
fr_novot = fr_hv[fr_hv["party"] == 66]

In [15]:
fr_noext = fr_hv[~fr_hv["party"].isin([2,77,88,66])]

In [16]:
fr_ext.describe()

,round,idno,leftright_scale,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,377.000000,377.000000,377.000000,377.0,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000,377.000000
mean,6.997347,2095.156499,7.904509,2.0,2.583554,4.737401,2.342175,3.379310,2.485411,2.986737,3.925729,2.618037,2.355438,2.374005,2.543767,2.453581,4.031830,2.140584,4.145889,2.485411,3.588859,1.907162,2.251989,3.167109,3.071618
std,0.817035,1276.715308,10.293636,0.0,1.366018,1.201730,1.321729,1.475652,1.374318,1.455852,1.576017,1.323878,1.246667,1.203127,1.436166,1.254182,1.492551,1.358140,1.541083,1.364607,1.603912,1.041366,1.206213,1.640959,1.479529
min,6.000000,9.000000,0.000000,2.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,6.000000,924.000000,5.000000,2.0,1.000000,4.000000,1.000000,2.000000,1.000000,2.000000,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,3.000000,1.000000,2.000000,1.000000,1.000000,2.000000,2.000000
50%,7.000000,2042.000000,7.000000,2.0,2.000000,5.000000,2.000000,3.000000,2.000000,3.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,4.000000,2.000000,5.000000,2.000000,4.000000,2.000000,2.000000,3.000000,3.000000
75%,8.000000,3228.000000,9.000000,2.0,3.000000,6.000000,3.000000,5.000000,3.000000,4.000000,5.000000,4.000000,3.000000,3.000000,4.000000,3.000000,5.000000,3.000000,5.000000,3.000000,5.000000,3.000000,3.000000,4.000000,4.000000
max,8.000000,4297.000000,88.000000,2.0,8.000000,6.000000,8.000000,6.000000,8.000000,6.000000,8.000000,8.000000,8.000000,6.000000,6.000000,6.000000,8.000000,8.000000,6.000000,6.000000,8.000000,5.000000,6.000000,8.000000,8.000000

In [17]:
fr_noext.describe()

,round,idno,leftright_scale,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000,2998.000000
mean,6.934623,2090.411274,5.900600,9.527352,2.538359,4.939960,1.828219,3.701134,2.743496,3.092061,3.970981,2.270514,2.405270,2.416611,2.558372,2.289526,4.175784,2.486991,4.361574,2.631421,3.804870,1.894263,2.172115,3.275851,3.252168
std,0.827293,1181.445595,9.401233,2.166975,1.307187,1.009992,1.051324,1.452187,1.427803,1.441159,1.501692,1.140397,1.227343,1.201802,1.389614,1.125536,1.339869,1.314049,1.368658,1.366421,1.487446,0.983935,1.153716,1.544239,1.357312
min,6.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,6.000000,1093.250000,3.000000,9.000000,1.000000,5.000000,1.000000,3.000000,2.000000,2.000000,3.000000,1.000000,1.000000,2.000000,1.000000,1.000000,3.000000,1.000000,4.000000,2.000000,3.000000,1.000000,1.000000,2.000000,2.000000
50%,7.000000,2114.000000,5.000000,9.000000,2.000000,5.000000,2.000000,4.000000,2.000000,3.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,4.000000,2.000000,5.000000,2.000000,4.000000,2.000000,2.000000,3.000000,3.000000
75%,8.000000,3095.500000,7.000000,10.000000,3.000000,6.000000,2.000000,5.000000,4.000000,4.000000,5.000000,3.000000,3.000000,3.000000,4.000000,3.000000,5.000000,3.000000,5.000000,4.000000,5.000000,2.000000,3.000000,4.000000,4.000000
max,8.000000,4299.000000,88.000000,16.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000

In [20]:
fr_novot.describe()
#Note: the leftright_scale mean is 13 because many people replied 88 (don´t know)
#The scale for left_right goes: 0--> left, 10--> right

,round,idno,leftright_scale,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,2196.000000,2196.000000,2196.000000,2196.0,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000,2196.000000
mean,7.138434,2159.122040,13.385246,66.0,2.675319,4.755464,1.934426,3.382969,2.672131,2.959472,4.040984,2.375228,2.452186,2.368852,2.408925,2.323315,4.052368,2.628871,4.045537,2.786885,3.780965,1.935792,2.507286,3.534608,3.040528
std,0.797466,1201.476307,24.765231,0.0,1.372609,1.224965,1.124698,1.528905,1.444798,1.466310,1.535652,1.240327,1.315404,1.251738,1.330693,1.221382,1.448112,1.440155,1.510999,1.438530,1.530204,1.090432,1.366519,1.648962,1.449121
min,6.000000,1.000000,0.000000,66.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,6.000000,1127.000000,4.000000,66.0,2.000000,4.000000,1.000000,2.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,2.000000,3.000000,2.000000,3.000000,1.000000,1.000000,2.000000,2.000000
50%,7.000000,2167.000000,5.000000,66.0,2.000000,5.000000,2.000000,3.000000,2.000000,3.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,4.000000,2.000000,4.000000,2.000000,4.000000,2.000000,2.000000,4.000000,3.000000
75%,8.000000,3188.500000,7.000000,66.0,4.000000,6.000000,3.000000,5.000000,4.000000,4.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000,5.000000,2.000000,3.000000,5.000000,4.000000
max,8.000000,4300.000000,88.000000,66.0,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000