In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
raw = pd.read_csv("../data/MULTI_hv_parties_9_raw.csv")
pd.set_option('display.max_columns', 500)

In [3]:
raw.head()

,idno,cntry,prtvede1,prtvede2,prtvtdfr,prtvtfhu,prtvtcit,prtvtdpl,lrscale,ipcrtiv,imprich,ipeqopt,ipshabt,impsafe,impdiff,ipfrule,ipudrst,ipmodst,ipgdtim,impfree,iphlppl,ipsuces,ipstrgv,ipadvnt,ipbhprp,iprspot,iplylfr,impenv,imptrad,impfun,Unnamed: 30
0,17,AT,NaN,NaN,NaN,NaN,NaN,NaN,9,2,2,2,2,2,2,2,3,1,2,1,2,2,2,2,2,2,2,3,2,3,NaN
1,31,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,2,4,2,4,1,4,4,2,2,2,2,1,4,1,4,1,3,1,2,1,2,NaN
2,58,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,2,4,3,2,2,3,3,3,3,3,2,3,3,3,3,2,2,2,2,2,3,NaN
3,69,AT,NaN,NaN,NaN,NaN,NaN,NaN,4,3,6,2,6,3,2,2,1,6,2,1,2,5,2,2,2,6,1,2,3,2,NaN
4,98,AT,NaN,NaN,NaN,NaN,NaN,NaN,5,3,4,3,3,2,4,4,3,4,3,3,3,4,3,5,2,3,2,3,3,3,NaN

In [4]:
cols = {'ipcrtiv':'new_ideas',
        'imprich':'rich',
        'ipeqopt':'equality',
        'ipshabt':'abilities',
        'impsafe':'safety',
        'impdiff':'new_diff',
        'ipfrule':'obey',
        'ipudrst':'understand_diff',
        'ipmodst':'modesty',
        'ipgdtim':'good_time',
        'impfree':'freedom',
        'iphlppl':'help_others',
        'ipsuces':'success',
        'ipstrgv':'strong_gov',
        'ipadvnt':'adventures',
        'ipbhprp':'behave',
        'iprspot':'get_respect',
        'iplylfr':'loyalty',
        'impenv':'nature',
        'imptrad':'traditions',
        'impfun':'fun_pleasure',
        'cntry':'country',
        'essround':'round',
        'lrscale':'leftright_scale',
        'Unnamed: 30':'round'}

In [5]:
raw_rename = raw.rename(columns=cols).drop(columns=['idno','leftright_scale','round'])

In [6]:
raw_rename.head()

,country,prtvede1,prtvede2,prtvtdfr,prtvtfhu,prtvtcit,prtvtdpl,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
0,AT,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,3,1,2,1,2,2,2,2,2,2,2,3,2,3
1,AT,NaN,NaN,NaN,NaN,NaN,NaN,2,4,2,4,1,4,4,2,2,2,2,1,4,1,4,1,3,1,2,1,2
2,AT,NaN,NaN,NaN,NaN,NaN,NaN,2,4,3,2,2,3,3,3,3,3,2,3,3,3,3,2,2,2,2,2,3
3,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,6,2,6,3,2,2,1,6,2,1,2,5,2,2,2,6,1,2,3,2
4,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,4,3,3,2,4,4,3,4,3,3,3,4,3,5,2,3,2,3,3,3

### Now we slice our raw dataframe to get individual dfs per country

#### DE

In [7]:
DE_raw = raw_rename[raw_rename["country"] == "DE"]

In [8]:
DE_9=DE_raw.drop(columns=['prtvede2',
                          'prtvtdfr',
                          'prtvtfhu',
                          'prtvtcit', 
                          'prtvtdpl',])

In [9]:
DE_9 = DE_9.rename(columns={'prtvede1':'party'}).reset_index(drop=True)

In [10]:
DE_9[['party']] = DE_9[['party']].astype(int)

In [11]:
DE_9.head()

,country,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
0,DE,4,2,5,1,5,5,3,5,2,6,1,1,1,3,4,5,6,4,1,1,6,4
1,DE,66,2,2,2,1,4,2,4,4,3,2,2,3,3,4,4,4,2,2,4,2,3
2,DE,66,1,1,1,1,1,5,4,3,4,3,2,2,2,2,3,2,2,2,2,3,3
3,DE,1,3,6,5,6,2,5,3,2,2,4,3,3,2,2,5,2,3,3,4,2,5
4,DE,1,4,5,1,2,1,2,2,1,3,4,2,1,2,1,4,2,5,2,1,4,5

In [12]:
DE_9.shape

(2358, 23)

#### In order for our analysis to be more precise, we drop the rows were values for each human value are 7(refusal) or 8(don´t know)

In [14]:
DE_9 = DE_9[(~DE_9["new_ideas"].isin([7,8]))
            &(~DE_9["rich"].isin([7,8]))
            &(~DE_9["equality"].isin([7,8]))
            &(~DE_9["abilities"].isin([7,8]))
            &(~DE_9["safety"].isin([7,8]))
            &(~DE_9["new_diff"].isin([7,8]))
            &(~DE_9["obey"].isin([7,8]))
            &(~DE_9["understand_diff"].isin([7,8]))
            &(~DE_9["modesty"].isin([7,8]))
            &(~DE_9["good_time"].isin([7,8]))
            &(~DE_9["freedom"].isin([7,8]))
            &(~DE_9["help_others"].isin([7,8]))
            &(~DE_9["success"].isin([7,8]))
            &(~DE_9["strong_gov"].isin([7,8]))
            &(~DE_9["adventures"].isin([7,8]))
            &(~DE_9["behave"].isin([7,8]))
            &(~DE_9["get_respect"].isin([7,8]))
            &(~DE_9["loyalty"].isin([7,8]))
            &(~DE_9["nature"].isin([7,8]))
            &(~DE_9["traditions"].isin([7,8]))
            &(~DE_9["fun_pleasure"].isin([7,8]))]

In [15]:
DE_9.shape

(2246, 23)

In [17]:
# We divide our df in 3: 
# de_ext: those who voted for AfD (party==6)
# de_noext: the rest excluding:
# - those who didn´t vote (66)
# - those who didn´t answer(77)
# - those who didn´t know(88)
# - those who voted for NPD (party==8)

In [18]:
DE_ext = DE_9[DE_9["party"] == 6]
DE_ext.shape

(92, 23)

In [19]:
DE_noext = DE_9[~DE_9["party"].isin([6,8,66,77,88])]
DE_noext.shape

(1430, 23)

In [20]:
DE_ext.describe()

,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,92.0,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000
mean,6.0,2.380435,4.423913,2.663043,3.717391,2.250000,2.880435,3.489130,2.445652,2.543478,2.565217,1.793478,1.934783,2.880435,1.771739,4.086957,2.978261,3.456522,1.641304,2.054348,2.489130,3.152174
std,0.0,1.175224,1.178877,1.424103,1.361367,1.115574,1.412988,1.522682,1.093076,1.270226,1.188816,1.011343,0.899381,1.282532,0.984532,1.487325,1.406252,1.345836,0.819830,1.093076,1.463809,1.405912
min,6.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,6.0,1.000000,4.000000,2.000000,3.000000,1.750000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,1.000000,3.000000,2.000000,2.750000,1.000000,1.000000,1.000000,2.000000
50%,6.0,2.000000,5.000000,2.000000,3.500000,2.000000,3.000000,3.500000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,1.500000,5.000000,3.000000,3.000000,1.500000,2.000000,2.000000,3.000000
75%,6.0,3.000000,5.000000,3.000000,5.000000,3.000000,4.000000,5.000000,3.000000,3.000000,3.000000,2.000000,2.000000,3.250000,2.000000,5.000000,4.000000,5.000000,2.000000,2.000000,3.000000,4.000000
max,6.0,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000

In [ ]:
DE_noext.describe()

#### FR

In [ ]:
FR_raw = raw_rename[raw_rename["country"] == "FR"]

In [ ]:
FR_9=FR_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtfhu',
                          'prtvtcit', 
                          'prtvtdpl',])

In [ ]:
FR_9 = FR_9.rename(columns={'prtvtdfr':'party'}).reset_index(drop=True)

In [ ]:
FR_9[['party']] = FR_9[['party']].astype(int)

In [ ]:
FR_9.head()

In [ ]:
FR_9.shape

In [ ]:
FR_9 = FR_9[(~FR_9["new_ideas"].isin([7,8]))
            &(~FR_9["rich"].isin([7,8]))
            &(~FR_9["equality"].isin([7,8]))
            &(~FR_9["abilities"].isin([7,8]))
            &(~FR_9["safety"].isin([7,8]))
            &(~FR_9["new_diff"].isin([7,8]))
            &(~FR_9["obey"].isin([7,8]))
            &(~FR_9["understand_diff"].isin([7,8]))
            &(~FR_9["modesty"].isin([7,8]))
            &(~FR_9["good_time"].isin([7,8]))
            &(~FR_9["freedom"].isin([7,8]))
            &(~FR_9["help_others"].isin([7,8]))
            &(~FR_9["success"].isin([7,8]))
            &(~FR_9["strong_gov"].isin([7,8]))
            &(~FR_9["adventures"].isin([7,8]))
            &(~FR_9["behave"].isin([7,8]))
            &(~FR_9["get_respect"].isin([7,8]))
            &(~FR_9["loyalty"].isin([7,8]))
            &(~FR_9["nature"].isin([7,8]))
            &(~FR_9["traditions"].isin([7,8]))
            &(~FR_9["fun_pleasure"].isin([7,8]))]

In [ ]:
FR_9.shape

In [ ]:
# fr_ext: those who voted for FN (party==11)

In [ ]:
FR_ext = FR_9[FR_9["party"]== 11]
FR_ext.shape

In [ ]:
FR_noext = FR_9[~FR_9["party"].isin([11,66,77,88])]
FR_noext.shape

In [ ]:
FR_ext.describe()

In [ ]:
FR_noext.describe()

#### HU

In [22]:
HU_raw = raw_rename[raw_rename["country"] == "HU"]

In [23]:
HU_9=HU_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtdfr',
                          'prtvtcit', 
                          'prtvtdpl',])

In [24]:
HU_9 = HU_9.rename(columns={'prtvtfhu':'party'}).reset_index(drop=True)

In [25]:
HU_9[['party']] = HU_9[['party']].astype(int)

In [26]:
HU_9.head()

,country,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
0,HU,6,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
1,HU,77,3,4,2,2,3,3,3,5,5,2,3,3,2,1,4,3,4,3,2,5,2
2,HU,3,6,5,1,4,1,6,6,3,2,5,1,2,5,2,6,3,3,2,1,2,3
3,HU,7,3,3,1,1,1,2,3,1,1,1,1,1,2,2,5,1,1,1,1,2,1
4,HU,3,3,3,3,3,3,3,3,3,6,3,3,3,3,3,3,3,3,3,6,3,3

In [27]:
HU_9.shape

(1698, 23)

In [28]:
HU_9 = HU_9[(~HU_9["new_ideas"].isin([7,8]))
            &(~HU_9["rich"].isin([7,8]))
            &(~HU_9["equality"].isin([7,8]))
            &(~HU_9["abilities"].isin([7,8]))
            &(~HU_9["safety"].isin([7,8]))
            &(~HU_9["new_diff"].isin([7,8]))
            &(~HU_9["obey"].isin([7,8]))
            &(~HU_9["understand_diff"].isin([7,8]))
            &(~HU_9["modesty"].isin([7,8]))
            &(~HU_9["good_time"].isin([7,8]))
            &(~HU_9["freedom"].isin([7,8]))
            &(~HU_9["help_others"].isin([7,8]))
            &(~HU_9["success"].isin([7,8]))
            &(~HU_9["strong_gov"].isin([7,8]))
            &(~HU_9["adventures"].isin([7,8]))
            &(~HU_9["behave"].isin([7,8]))
            &(~HU_9["get_respect"].isin([7,8]))
            &(~HU_9["loyalty"].isin([7,8]))
            &(~HU_9["nature"].isin([7,8]))
            &(~HU_9["traditions"].isin([7,8]))
            &(~HU_9["fun_pleasure"].isin([7,8]))]

In [29]:
HU_9.shape

(1611, 23)

In [30]:
# hu_ext: those who voted for Fidesz (party==3) and Jobbik (party==4)

In [31]:
HU_ext = HU_9[HU_9["party"].isin([3,4])]
HU_ext.shape

(615, 23)

In [32]:
HU_noext = HU_9[~HU_9["party"].isin([3,4,66,77,88])]
HU_noext.shape

(293, 23)

In [ ]:
HU_ext.describe()

In [ ]:
HU_noext.describe()

#### IT

In [ ]:
IT_raw = raw_rename[raw_rename["country"] == "IT"]

In [ ]:
IT_9=IT_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtdfr',
                          'prtvtfhu', 
                          'prtvtdpl',])

In [ ]:
IT_9 = IT_9.rename(columns={'prtvtcit':'party'}).reset_index(drop=True)

In [ ]:
IT_9[['party']] = IT_9[['party']].astype(int)

In [ ]:
IT_9.head()

In [ ]:
IT_9.shape

In [ ]:
IT_9 = IT_9[(~IT_9["new_ideas"].isin([7,8]))
            &(~IT_9["rich"].isin([7,8]))
            &(~IT_9["equality"].isin([7,8]))
            &(~IT_9["abilities"].isin([7,8]))
            &(~IT_9["safety"].isin([7,8]))
            &(~IT_9["new_diff"].isin([7,8]))
            &(~IT_9["obey"].isin([7,8]))
            &(~IT_9["understand_diff"].isin([7,8]))
            &(~IT_9["modesty"].isin([7,8]))
            &(~IT_9["good_time"].isin([7,8]))
            &(~IT_9["freedom"].isin([7,8]))
            &(~IT_9["help_others"].isin([7,8]))
            &(~IT_9["success"].isin([7,8]))
            &(~IT_9["strong_gov"].isin([7,8]))
            &(~IT_9["adventures"].isin([7,8]))
            &(~IT_9["behave"].isin([7,8]))
            &(~IT_9["get_respect"].isin([7,8]))
            &(~IT_9["loyalty"].isin([7,8]))
            &(~IT_9["nature"].isin([7,8]))
            &(~IT_9["traditions"].isin([7,8]))
            &(~IT_9["fun_pleasure"].isin([7,8]))]

In [ ]:
IT_9.shape

In [ ]:
# it_ext: those who voted for Lega (party==9)

In [ ]:
IT_ext = IT_9[IT_9["party"]== 9]
IT_ext.shape

In [ ]:
IT_noext = IT_9[~IT_9["party"].isin([9,66,77,88])]
IT_noext.shape

In [ ]:
IT_ext.describe()

In [ ]:
IT_noext.describe()

#### PL

In [ ]:
PL_raw = raw_rename[raw_rename["country"] == "PL"]

In [ ]:
PL_9=PL_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtdfr',
                          'prtvtfhu', 
                          'prtvtcit',])

In [ ]:
PL_9 = PL_9.rename(columns={'prtvtdpl':'party'}).reset_index(drop=True)

In [ ]:
PL_9[['party']] = PL_9[['party']].astype(int)

In [ ]:
PL_9.head()

In [ ]:
PL_9.shape

In [ ]:
PL_9 = PL_9[(~PL_9["new_ideas"].isin([7,8]))
            &(~PL_9["rich"].isin([7,8]))
            &(~PL_9["equality"].isin([7,8]))
            &(~PL_9["abilities"].isin([7,8]))
            &(~PL_9["safety"].isin([7,8]))
            &(~PL_9["new_diff"].isin([7,8]))
            &(~PL_9["obey"].isin([7,8]))
            &(~PL_9["understand_diff"].isin([7,8]))
            &(~PL_9["modesty"].isin([7,8]))
            &(~PL_9["good_time"].isin([7,8]))
            &(~PL_9["freedom"].isin([7,8]))
            &(~PL_9["help_others"].isin([7,8]))
            &(~PL_9["success"].isin([7,8]))
            &(~PL_9["strong_gov"].isin([7,8]))
            &(~PL_9["adventures"].isin([7,8]))
            &(~PL_9["behave"].isin([7,8]))
            &(~PL_9["get_respect"].isin([7,8]))
            &(~PL_9["loyalty"].isin([7,8]))
            &(~PL_9["nature"].isin([7,8]))
            &(~PL_9["traditions"].isin([7,8]))
            &(~PL_9["fun_pleasure"].isin([7,8]))]

In [ ]:
PL_9.shape

In [ ]:
# pl_ext: those who voted for PiS (party==6)

In [ ]:
PL_ext = PL_9[PL_9["party"]== 6]
PL_ext.shape

In [ ]:
PL_noext = PL_9[~PL_9["party"].isin([6,66,77,88])]
PL_noext.shape

In [ ]:
PL_ext.describe()

In [ ]:
PL_noext.describe()