In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
raw = pd.read_csv("../data/MULTI_hv_parties_9_raw.csv")
pd.set_option('display.max_columns', 500)

In [3]:
raw.head()

,idno,cntry,prtvede1,prtvede2,prtvtdfr,prtvtfhu,prtvtcit,prtvtdpl,lrscale,ipcrtiv,imprich,ipeqopt,ipshabt,impsafe,impdiff,ipfrule,ipudrst,ipmodst,ipgdtim,impfree,iphlppl,ipsuces,ipstrgv,ipadvnt,ipbhprp,iprspot,iplylfr,impenv,imptrad,impfun,Unnamed: 30
0,17,AT,NaN,NaN,NaN,NaN,NaN,NaN,9,2,2,2,2,2,2,2,3,1,2,1,2,2,2,2,2,2,2,3,2,3,NaN
1,31,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,2,4,2,4,1,4,4,2,2,2,2,1,4,1,4,1,3,1,2,1,2,NaN
2,58,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,2,4,3,2,2,3,3,3,3,3,2,3,3,3,3,2,2,2,2,2,3,NaN
3,69,AT,NaN,NaN,NaN,NaN,NaN,NaN,4,3,6,2,6,3,2,2,1,6,2,1,2,5,2,2,2,6,1,2,3,2,NaN
4,98,AT,NaN,NaN,NaN,NaN,NaN,NaN,5,3,4,3,3,2,4,4,3,4,3,3,3,4,3,5,2,3,2,3,3,3,NaN

In [4]:
cols = {'ipcrtiv':'new_ideas',
        'imprich':'rich',
        'ipeqopt':'equality',
        'ipshabt':'abilities',
        'impsafe':'safety',
        'impdiff':'new_diff',
        'ipfrule':'obey',
        'ipudrst':'understand_diff',
        'ipmodst':'modesty',
        'ipgdtim':'good_time',
        'impfree':'freedom',
        'iphlppl':'help_others',
        'ipsuces':'success',
        'ipstrgv':'strong_gov',
        'ipadvnt':'adventures',
        'ipbhprp':'behave',
        'iprspot':'get_respect',
        'iplylfr':'loyalty',
        'impenv':'nature',
        'imptrad':'traditions',
        'impfun':'fun_pleasure',
        'cntry':'country',
        'essround':'round',
        'lrscale':'leftright_scale',
        'Unnamed: 30':'round'}

In [5]:
raw_rename = raw.rename(columns=cols)

In [7]:
#We fill the NaN values on colum "round" with 9
raw_rename[['round']] = raw_rename[['round']].fillna(value=9)

In [8]:
raw_rename.head()

,idno,country,prtvede1,prtvede2,prtvtdfr,prtvtfhu,prtvtcit,prtvtdpl,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
0,17,AT,NaN,NaN,NaN,NaN,NaN,NaN,9,2,2,2,2,2,2,2,3,1,2,1,2,2,2,2,2,2,2,3,2,3,9.0
1,31,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,2,4,2,4,1,4,4,2,2,2,2,1,4,1,4,1,3,1,2,1,2,9.0
2,58,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,2,4,3,2,2,3,3,3,3,3,2,3,3,3,3,2,2,2,2,2,3,9.0
3,69,AT,NaN,NaN,NaN,NaN,NaN,NaN,4,3,6,2,6,3,2,2,1,6,2,1,2,5,2,2,2,6,1,2,3,2,9.0
4,98,AT,NaN,NaN,NaN,NaN,NaN,NaN,5,3,4,3,3,2,4,4,3,4,3,3,3,4,3,5,2,3,2,3,3,3,9.0

## Now we slice our raw dataframe to get individual df per country

## DE

In [10]:
DE_raw = raw_rename[raw_rename["country"] == "DE"]

In [12]:
DE_9=DE_raw.drop(columns=['prtvede2',
                          'prtvtdfr',
                          'prtvtfhu',
                          'prtvtcit', 
                          'prtvtdpl',])

In [13]:
DE_9 = DE_9.rename(columns={'prtvede1':'party'}).reset_index(drop=True)

In [14]:
DE_9[['party','round']] = DE_9[['party','round']].astype(int)

In [15]:
DE_9.head()

,idno,country,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
0,1,DE,4,2,2,5,1,5,5,3,5,2,6,1,1,1,3,4,5,6,4,1,1,6,4,9
1,63,DE,66,5,2,2,2,1,4,2,4,4,3,2,2,3,3,4,4,4,2,2,4,2,3,9
2,108,DE,66,88,1,1,1,1,1,5,4,3,4,3,2,2,2,2,3,2,2,2,2,3,3,9
3,117,DE,1,7,3,6,5,6,2,5,3,2,2,4,3,3,2,2,5,2,3,3,4,2,5,9
4,134,DE,1,3,4,5,1,2,1,2,2,1,3,4,2,1,2,1,4,2,5,2,1,4,5,9

In [42]:
DE_9["party"].value_counts()

1     606
66    498
2     400
4     223
77    144
88    144
3     107
5      97
6      96
9      41
7       1
8       1
Name: party, dtype: int64

#### We divide our df in 3: 
#### de_ext: those who voted for AfD (party==6) or NPD (party==8) 
#### de_novot: those who didn´t vote (party == 66)
#### de_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [44]:
DE_ext = DE_9[DE_9["party"].isin([6,8])]

In [47]:
DE_novot = DE_9[DE_9["party"] == 66]

In [48]:
DE_noext = DE_9[~DE_9["party"].isin([6,8,66,77,88])]

In [51]:
DE_ext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.0
mean,24861.659794,6.020619,8.329897,2.494845,4.474227,2.680412,3.762887,2.257732,2.927835,3.546392,2.494845,2.597938,2.639175,1.896907,2.020619,3.000000,1.804124,4.164948,2.969072,3.474227,1.721649,2.144330,2.525773,3.206186,9.0
std,14117.186934,0.203069,13.136084,1.422466,1.234004,1.461637,1.427215,1.210013,1.487780,1.626734,1.164794,1.328061,1.300525,1.286829,1.070235,1.384437,1.105283,1.504718,1.460976,1.392635,0.976199,1.207526,1.514463,1.485613,0.0
min,239.000000,6.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,14143.000000,6.000000,5.000000,1.000000,4.000000,2.000000,3.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,1.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,2.000000,9.0
50%,25754.000000,6.000000,6.000000,2.000000,5.000000,2.000000,4.000000,2.000000,3.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,1.000000,5.000000,3.000000,3.000000,2.000000,2.000000,2.000000,3.000000,9.0
75%,37095.000000,6.000000,8.000000,3.000000,5.000000,3.000000,5.000000,3.000000,4.000000,5.000000,3.000000,3.000000,3.000000,2.000000,2.000000,4.000000,2.000000,5.000000,4.000000,5.000000,2.000000,3.000000,3.000000,4.000000,9.0
max,48365.000000,8.000000,88.000000,8.000000,7.000000,7.000000,7.000000,7.000000,7.000000,8.000000,7.000000,7.000000,7.000000,8.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,9.0

In [52]:
DE_noext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.0
mean,24277.325424,2.359322,5.661017,2.487458,4.545763,2.073220,3.717288,2.625085,3.129492,3.595254,2.044746,2.639322,2.479322,1.952542,1.966780,3.225085,2.421017,4.372203,3.073898,3.530847,1.597288,1.850847,2.926102,3.257627,9.0
std,14470.253645,1.712267,10.706917,1.168480,1.071292,1.077112,1.314544,1.253400,1.349975,1.487024,0.919798,1.193071,1.109390,1.012365,0.911026,1.300055,1.251742,1.264444,1.315533,1.354260,0.757947,0.927196,1.392202,1.347419,0.0
min,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,11801.500000,1.000000,3.000000,2.000000,4.000000,1.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,9.0
50%,24477.000000,2.000000,5.000000,2.000000,5.000000,2.000000,4.000000,2.000000,3.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,5.000000,3.000000,3.000000,1.000000,2.000000,3.000000,3.000000,9.0
75%,37291.000000,3.000000,5.000000,3.000000,5.000000,2.000000,5.000000,3.000000,4.000000,5.000000,2.000000,3.000000,3.000000,2.000000,2.000000,4.000000,3.000000,5.000000,4.000000,5.000000,2.000000,2.000000,4.000000,4.000000,9.0
max,48625.000000,9.000000,88.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,9.0

In [53]:
DE_novot.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,498.000000,498.0,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.0
mean,24279.947791,66.0,12.082329,2.632530,4.228916,2.251004,3.526104,2.791165,3.040161,3.791165,2.317269,2.851406,2.530120,2.158635,2.116466,3.160643,2.542169,3.907631,3.202811,3.650602,1.761044,2.265060,3.152610,3.062249,9.0
std,14449.282830,0.0,24.179394,1.461617,1.447890,1.490159,1.609929,1.572066,1.520614,1.592412,1.431094,1.560970,1.438231,1.391602,1.227817,1.537688,1.594517,1.636942,1.568372,1.581587,1.243546,1.399204,1.667781,1.541557,0.0
min,63.000000,66.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,11823.000000,66.0,3.000000,2.000000,3.000000,1.000000,2.000000,2.000000,2.000000,3.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,9.0
50%,24298.000000,66.0,5.000000,2.000000,4.000000,2.000000,3.000000,2.000000,3.000000,4.000000,2.000000,3.000000,2.000000,2.000000,2.000000,3.000000,2.000000,4.000000,3.000000,4.000000,1.000000,2.000000,3.000000,3.000000,9.0
75%,36601.000000,66.0,5.000000,3.000000,5.000000,3.000000,5.000000,4.000000,4.000000,5.000000,3.000000,4.000000,3.000000,2.000000,3.000000,4.000000,3.000000,5.000000,4.000000,5.000000,2.000000,3.000000,4.000000,4.000000,9.0
max,48619.000000,66.0,88.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,9.0

### FR

In [16]:
FR_raw = raw_rename[raw_rename["country"] == "FR"]

In [18]:
FR_9=FR_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtfhu',
                          'prtvtcit', 
                          'prtvtdpl',])

In [19]:
FR_9 = FR_9.rename(columns={'prtvtdfr':'party'}).reset_index(drop=True)

In [20]:
FR_9[['party','round']] = FR_9[['party','round']].astype(int)

In [21]:
FR_9.head()

,idno,country,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
0,13,FR,88,3,2,6,1,2,1,1,5,1,1,1,3,2,4,1,5,2,3,2,1,2,2,9
1,26,FR,66,1,3,5,1,2,1,1,3,1,2,2,1,2,5,2,6,3,5,3,1,1,2,9
2,28,FR,7,7,2,5,2,4,1,3,3,1,4,2,4,1,4,1,6,1,4,1,3,1,3,9
3,39,FR,9,8,1,5,3,5,3,4,2,2,1,3,1,1,4,2,3,1,2,1,2,1,4,9
4,59,FR,66,5,5,5,1,3,1,5,1,1,1,4,5,2,5,1,6,1,5,4,1,1,5,9

In [54]:
FR_9["party"].value_counts()

66    837
7     238
9     183
5     154
77    120
88    107
11    103
4      78
6      77
8      34
1      25
3      22
10     14
12     12
2       6
Name: party, dtype: int64

#### We divide our df in 3: 
#### fr_ext: those who voted for FN (party==11)  
#### fr_novot: those who didn´t vote (party == 66)
#### fr_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [55]:
FR_ext = FR_9[FR_9["party"]== 11]

In [57]:
FR_novot = FR_9[FR_9["party"] == 66]

In [59]:
FR_noext = FR_9[~FR_9["party"].isin([11,66,77,88])]

In [62]:
FR_ext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,103.000000,103.0,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.0
mean,25524.087379,11.0,7.398058,2.475728,4.854369,1.922330,3.475728,2.368932,3.087379,4.097087,2.475728,2.320388,2.368932,2.213592,2.145631,4.281553,2.271845,4.174757,2.485437,3.621359,1.873786,2.126214,3.009709,2.902913,9.0
std,14787.298021,0.0,8.347055,1.399192,1.132477,0.936088,1.577070,1.407196,1.663370,1.605838,1.399192,1.535295,1.350311,1.303468,1.132477,1.510859,1.366218,1.478123,1.526653,1.727043,1.143435,1.273251,1.806823,1.611932,0.0
min,192.000000,11.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,11682.000000,11.0,5.000000,1.000000,4.000000,1.000000,2.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,3.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,9.0
50%,27385.000000,11.0,7.000000,2.000000,5.000000,2.000000,4.000000,2.000000,3.000000,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5.000000,2.000000,5.000000,2.000000,4.000000,2.000000,2.000000,2.000000,3.000000,9.0
75%,38684.000000,11.0,8.000000,3.000000,6.000000,3.000000,5.000000,3.000000,4.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,3.000000,5.000000,3.000000,5.000000,2.000000,3.000000,5.000000,4.000000,9.0
max,47579.000000,11.0,88.000000,6.000000,6.000000,4.000000,6.000000,6.000000,8.000000,6.000000,8.000000,8.000000,6.000000,6.000000,5.000000,8.000000,8.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,8.000000,9.0

In [63]:
FR_noext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.0
mean,24265.485172,6.543298,5.476868,2.608541,5.046263,1.873072,3.845789,2.865955,3.189798,4.069988,2.234875,2.409253,2.436536,2.550415,2.208778,4.297746,2.660735,4.362989,2.658363,3.886121,1.864769,1.966785,3.217082,3.185053,9.0
std,14219.332337,2.128075,7.642727,1.343065,0.888830,1.131192,1.447396,1.461238,1.482131,1.519028,1.152038,1.255774,1.285473,1.382194,1.140517,1.320524,1.485068,1.373712,1.407314,1.565311,1.039929,1.100135,1.646011,1.422224,0.0
min,28.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,11244.000000,5.000000,3.000000,2.000000,5.000000,1.000000,3.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,2.000000,4.000000,2.000000,3.000000,1.000000,1.000000,2.000000,2.000000,9.0
50%,24770.000000,7.000000,5.000000,2.000000,5.000000,2.000000,4.000000,3.000000,3.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5.000000,2.000000,5.000000,2.000000,4.000000,2.000000,2.000000,3.000000,3.000000,9.0
75%,36885.000000,8.000000,7.000000,3.500000,6.000000,2.000000,5.000000,4.000000,4.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000,5.000000,2.000000,3.000000,4.500000,4.000000,9.0
max,48632.000000,12.000000,88.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,9.0

In [64]:
FR_novot.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,837.000000,837.0,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.0
mean,24239.163680,66.0,16.811231,2.715651,4.777778,1.991637,3.499403,2.626045,2.974910,4.148148,2.407407,2.456392,2.400239,2.360812,2.271207,4.181601,2.796894,4.072879,2.867384,3.769415,1.911589,2.292712,3.432497,3.020311,9.0
std,14143.431777,0.0,28.932775,1.433671,1.138005,1.265545,1.530882,1.440176,1.527449,1.581755,1.316110,1.404733,1.328254,1.456316,1.263887,1.522713,1.633776,1.655264,1.510838,1.637807,1.173602,1.397745,1.767407,1.560830,0.0
min,26.000000,66.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,12052.000000,66.0,4.000000,2.000000,4.000000,1.000000,2.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,2.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,9.0
50%,24519.000000,66.0,5.000000,3.000000,5.000000,2.000000,4.000000,2.000000,3.000000,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5.000000,2.000000,5.000000,3.000000,4.000000,2.000000,2.000000,4.000000,3.000000,9.0
75%,36642.000000,66.0,7.000000,4.000000,5.000000,3.000000,5.000000,4.000000,4.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000,5.000000,2.000000,3.000000,5.000000,4.000000,9.0
max,48504.000000,66.0,88.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,9.0

### HU

In [22]:
HU_raw = raw_rename[raw_rename["country"] == "HU"]

In [24]:
HU_9=HU_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtdfr',
                          'prtvtcit', 
                          'prtvtdpl',])

In [25]:
HU_9 = HU_9.rename(columns={'prtvtfhu':'party'}).reset_index(drop=True)

In [26]:
HU_9[['party','round']] = HU_9[['party','round']].astype(int)

In [27]:
HU_9.head()

,idno,country,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
0,36,HU,6,4,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
1,84,HU,77,5,3,4,2,2,3,3,3,5,5,2,3,3,2,1,4,3,4,3,2,5,2,9
2,126,HU,3,7,6,5,1,4,1,6,6,3,2,5,1,2,5,2,6,3,3,2,1,2,3,9
3,153,HU,7,0,3,3,1,1,1,2,3,1,1,1,1,1,2,2,5,1,1,1,1,2,1,9
4,165,HU,3,1,3,3,3,3,3,3,3,3,6,3,3,3,3,3,3,3,3,3,6,3,3,9

In [65]:
HU_9["party"].value_counts()

3     524
66    515
77    225
4     124
7     111
1      70
6      53
5      22
9      18
88     12
10      9
2       6
8       5
11      3
55      1
Name: party, dtype: int64

#### We divide our df in 3: 
#### hu_ext: those who voted for Fidesz (party==3)  
#### hu_novot: those who didn´t vote (party == 66)
#### hu_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [66]:
HU_ext = HU_9[HU_9["party"]== 3]

In [68]:
HU_novot = HU_9[HU_9["party"] == 66]

In [69]:
HU_noext = HU_9[~HU_9["party"].isin([3,66,77,88])]

In [71]:
HU_ext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,524.000000,524.0,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.00000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.000000,524.0
mean,24460.232824,3.0,10.202290,2.742366,3.822519,2.721374,3.024809,2.200382,3.362595,3.64313,2.921756,2.990458,2.952290,2.646947,2.690840,3.171756,2.433206,4.240458,2.742366,3.234733,2.206107,2.351145,2.791985,2.765267,9.0
std,14186.924636,0.0,16.088103,1.579154,1.538850,1.550501,1.660863,1.557048,1.637927,1.58643,1.480137,1.486042,1.566748,1.524613,1.427614,1.599798,1.568489,1.564241,1.566999,1.686822,1.528406,1.481169,1.511161,1.473882,0.0
min,126.000000,3.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,11510.250000,3.0,6.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,9.0
50%,23788.000000,3.0,7.000000,2.000000,4.000000,2.000000,3.000000,2.000000,3.000000,3.00000,3.000000,3.000000,3.000000,2.000000,2.000000,3.000000,2.000000,4.000000,2.000000,3.000000,2.000000,2.000000,3.000000,3.000000,9.0
75%,37172.500000,3.0,9.000000,3.000000,5.000000,3.000000,4.000000,3.000000,4.000000,5.00000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,5.000000,3.000000,4.000000,3.000000,3.000000,3.000000,4.000000,9.0
max,48546.000000,3.0,88.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.0

In [72]:
HU_noext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.0
mean,24156.443128,5.125592,5.959716,2.827014,4.030806,2.800948,3.227488,2.469194,3.419431,3.902844,3.033175,3.037915,3.260664,2.796209,2.876777,3.504739,2.815166,4.308057,3.009479,3.464455,2.533175,2.594787,3.208531,3.037915,9.0
std,14004.768692,3.430457,12.273246,1.808118,1.729031,1.786250,1.832772,1.799379,1.843497,1.791386,1.721414,1.776993,1.824436,1.766993,1.752902,1.819328,1.773105,1.763952,1.803903,1.918139,1.834634,1.782542,1.748871,1.771638,0.0
min,36.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,12369.500000,4.000000,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,9.0
50%,23517.500000,5.000000,4.000000,2.000000,4.000000,2.000000,3.000000,2.000000,3.000000,4.000000,3.000000,3.000000,3.000000,2.000000,2.000000,3.000000,2.000000,4.000000,3.000000,3.000000,2.000000,2.000000,3.000000,3.000000,9.0
75%,36357.500000,7.000000,6.000000,3.000000,5.000000,3.000000,4.000000,3.000000,4.000000,5.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,5.000000,4.000000,5.000000,3.000000,3.000000,4.000000,4.000000,9.0
max,48622.000000,55.000000,88.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.0

In [73]:
HU_novot.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,515.000000,515.0,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.0
mean,24829.386408,66.0,31.316505,2.873786,3.726214,2.794175,3.132039,2.440777,3.306796,3.586408,3.104854,3.231068,3.104854,2.722330,2.910680,3.378641,2.858252,4.009709,2.978641,3.353398,2.497087,2.673786,3.056311,2.918447,9.0
std,13835.342918,0.0,37.567356,1.572376,1.502525,1.473622,1.480759,1.511914,1.557913,1.489852,1.389467,1.443827,1.486867,1.458434,1.384946,1.561430,1.599278,1.604318,1.428425,1.537901,1.440618,1.457035,1.483612,1.410477,0.0
min,414.000000,66.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,12765.000000,66.0,5.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,9.0
50%,25385.000000,66.0,5.000000,2.000000,4.000000,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000,4.000000,3.000000,3.000000,2.000000,2.000000,3.000000,3.000000,9.0
75%,36313.500000,66.0,77.000000,4.000000,5.000000,3.000000,4.000000,3.000000,4.000000,5.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,9.0
max,48466.000000,66.0,88.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.0

### IT

In [28]:
IT_raw = raw_rename[raw_rename["country"] == "IT"]

In [30]:
IT_9=IT_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtdfr',
                          'prtvtfhu', 
                          'prtvtdpl',])

In [31]:
IT_9 = IT_9.rename(columns={'prtvtcit':'party'}).reset_index(drop=True)

In [32]:
IT_9[['party','round']] = IT_9[['party','round']].astype(int)

In [33]:
IT_9.head()

,idno,country,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
0,5,IT,7,7,3,4,2,2,3,4,3,1,3,4,3,1,3,3,4,2,3,3,2,2,4,9
1,11,IT,8,8,2,4,2,2,1,4,4,4,2,3,2,2,2,1,3,2,1,1,2,2,4,9
2,15,IT,14,77,3,6,1,5,1,4,1,1,2,4,3,3,2,1,6,1,1,2,3,1,3,9
3,41,IT,66,88,2,2,2,2,2,2,2,4,3,2,3,3,2,3,2,3,2,2,3,2,2,9
4,46,IT,66,88,6,6,2,3,2,5,2,4,2,6,4,2,3,2,6,2,3,3,3,1,4,9

In [79]:
IT_9["party"].value_counts()

66    769
77    634
7     503
1     296
9     265
8      91
88     60
10     38
6      33
14     20
2      13
12      9
13      5
4       5
11      2
3       1
5       1
Name: party, dtype: int64

#### We divide our df in 3: 
#### it_ext: those who voted for Lega (party==9)  
#### it_novot: those who didn´t vote (party == 66)
#### it_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [75]:
IT_ext = IT_9[IT_9["party"]== 9]

In [77]:
IT_novot = IT_9[IT_9["party"] == 66]

In [80]:
IT_noext = IT_9[~IT_9["party"].isin([9,66,77,88])]

In [82]:
IT_ext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,265.000000,265.0,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.0
mean,26314.562264,9.0,10.490566,2.867925,3.826415,2.547170,2.822642,1.996226,3.049057,2.630189,2.766038,2.562264,3.645283,2.328302,2.377358,2.600000,1.939623,4.237736,2.505660,2.524528,2.215094,2.030189,2.173585,3.222642,9.0
std,13648.871943,0.0,15.031561,1.311917,1.252293,1.144255,1.306546,1.035353,1.329106,1.311023,1.214643,1.269130,1.368831,1.231588,1.026660,1.375654,1.085430,1.373481,1.196968,1.334409,1.005175,0.949000,1.100990,1.336923,0.0
min,149.000000,9.0,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,15211.000000,9.0,7.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,9.0
50%,26103.000000,9.0,8.000000,3.000000,4.000000,3.000000,3.000000,2.000000,3.000000,2.000000,3.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,9.0
75%,38954.000000,9.0,8.000000,4.000000,5.000000,3.000000,4.000000,2.000000,4.000000,3.000000,3.000000,3.000000,4.000000,3.000000,3.000000,3.000000,2.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,9.0
max,48553.000000,9.0,88.000000,8.000000,8.000000,8.000000,8.000000,6.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,5.000000,6.000000,8.000000,9.0

In [83]:
IT_noext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.000000,1017.0
mean,24474.866273,5.557522,9.932153,2.743363,4.062930,2.351032,2.848574,2.191740,3.058997,2.898722,2.520157,2.494592,3.700098,2.402163,2.328417,2.504425,2.153392,4.230088,2.554572,2.627335,2.143559,1.960669,2.370698,3.446411,9.0
std,14213.152340,3.262300,20.049160,1.295061,1.232744,1.147439,1.286927,1.192831,1.236924,1.320108,1.115318,1.162158,1.325674,1.167352,1.024459,1.192261,1.238359,1.363962,1.131693,1.342726,1.010301,1.025476,1.182736,1.362941,0.0
min,5.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,12137.000000,1.000000,3.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,3.000000,9.0
50%,24237.000000,7.000000,5.000000,3.000000,4.000000,2.000000,3.000000,2.000000,3.000000,3.000000,2.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,9.0
75%,36996.000000,7.000000,7.000000,3.000000,5.000000,3.000000,4.000000,3.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,9.0
max,48502.000000,14.000000,88.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,9.0

In [84]:
IT_novot.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,769.000000,769.0,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.0
mean,24773.485046,66.0,44.964889,3.288687,4.072822,2.522757,3.136541,2.323797,3.368010,3.178153,2.957087,2.673602,3.955787,2.773732,2.630689,2.957087,2.384915,4.356307,2.741222,2.924577,2.430429,2.444733,2.500650,3.721717,9.0
std,14345.026626,0.0,39.820791,1.755168,1.443340,1.496459,1.677308,1.530240,1.657076,1.570643,1.555226,1.445663,1.603421,1.528645,1.435740,1.608726,1.512993,1.545479,1.485829,1.627252,1.455292,1.557033,1.493148,1.681102,0.0
min,41.000000,66.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,12125.000000,66.0,5.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000,3.000000,9.0
50%,24564.000000,66.0,77.000000,3.000000,4.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,2.000000,4.000000,3.000000,2.000000,3.000000,2.000000,4.000000,2.000000,3.000000,2.000000,2.000000,2.000000,3.000000,9.0
75%,37724.000000,66.0,88.000000,4.000000,5.000000,3.000000,4.000000,3.000000,4.000000,4.000000,3.000000,3.000000,5.000000,3.000000,3.000000,3.000000,3.000000,6.000000,3.000000,4.000000,3.000000,3.000000,3.000000,5.000000,9.0
max,48633.000000,66.0,88.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,9.0

### PL

In [34]:
PL_raw = raw_rename[raw_rename["country"] == "PL"]

In [36]:
PL_9=PL_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtdfr',
                          'prtvtfhu', 
                          'prtvtcit',])

In [37]:
PL_9 = PL_9.rename(columns={'prtvtdpl':'party'}).reset_index(drop=True)

In [38]:
PL_9[['party','round']] = PL_9[['party','round']].astype(int)

In [39]:
PL_9.head()

,idno,country,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
0,25,PL,6,8,1,5,2,4,3,4,3,2,4,5,2,3,4,2,5,4,5,3,1,3,5,9
1,35,PL,2,9,2,2,2,2,2,2,8,4,6,2,1,4,2,2,2,2,2,2,2,3,2,9
2,49,PL,3,4,3,4,1,3,1,2,5,1,2,2,1,1,2,2,3,3,1,1,1,3,2,9
3,133,PL,6,9,5,4,2,4,2,2,2,3,2,5,3,3,4,2,5,2,2,2,3,2,4,9
4,179,PL,66,5,2,2,2,2,3,2,4,2,5,2,2,3,2,3,2,5,3,2,2,6,2,9

In [85]:
PL_9["party"].value_counts()

66    533
6     374
4     245
88     79
77     70
5      49
2      48
3      43
8      25
7      13
1      13
9       8
Name: party, dtype: int64

#### We divide our df in 3: 
#### pl_ext: those who voted for PiS (party==6)  
#### pl_novot: those who didn´t vote (party == 66)
#### pl_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [86]:
PL_ext = PL_9[PL_9["party"]== 6]

In [88]:
PL_novot = PL_9[PL_9["party"] == 66]

In [90]:
PL_noext = PL_9[~PL_9["party"].isin([6,66,77,88])]

In [92]:
PL_ext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,374.000000,374.0,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.0
mean,24272.847594,6.0,11.577540,3.516043,4.203209,2.550802,3.604278,2.296791,3.681818,2.713904,2.882353,2.994652,4.387701,2.628342,2.687166,3.606952,2.291444,4.684492,2.628342,2.978610,2.291444,2.291444,2.056150,4.152406,9.0
std,14199.069232,0.0,17.054655,1.696396,1.426065,1.481372,1.595430,1.634133,1.631736,1.631121,1.566081,1.627503,1.457884,1.545849,1.463037,1.646527,1.524802,1.413047,1.557942,1.684043,1.426701,1.478381,1.449619,1.575885,0.0
min,25.000000,6.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,11919.000000,6.0,7.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,4.000000,2.000000,2.000000,2.000000,1.000000,1.000000,3.000000,9.0
50%,23879.500000,6.0,8.000000,3.000000,4.000000,2.000000,3.000000,2.000000,4.000000,2.000000,2.000000,3.000000,4.500000,2.000000,2.000000,3.000000,2.000000,5.000000,2.000000,3.000000,2.000000,2.000000,2.000000,4.000000,9.0
75%,37674.000000,6.0,10.000000,5.000000,5.000000,3.000000,5.000000,3.000000,5.000000,3.000000,3.750000,4.000000,5.000000,3.000000,3.000000,5.000000,3.000000,5.000000,3.000000,4.000000,3.000000,3.000000,2.000000,5.000000,9.0
max,48396.000000,6.0,88.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.0

In [93]:
PL_noext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.0
mean,24590.067568,4.112613,9.581081,3.009009,3.948198,2.315315,3.173423,2.218468,3.139640,2.970721,2.592342,3.333333,3.977477,2.360360,2.630631,3.191441,2.439189,4.261261,2.790541,2.959459,2.171171,2.029279,2.448198,3.952703,9.0
std,13659.878731,1.584611,20.201361,1.499408,1.396391,1.281802,1.527510,1.316511,1.446832,1.538534,1.445171,1.597590,1.433062,1.511687,1.446896,1.517935,1.582465,1.464165,1.486979,1.619067,1.273972,1.278949,1.316511,1.473626,0.0
min,35.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,12732.750000,4.000000,3.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,1.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,3.000000,9.0
50%,24910.000000,4.000000,5.000000,3.000000,4.000000,2.000000,3.000000,2.000000,3.000000,3.000000,2.000000,3.000000,4.000000,2.000000,2.000000,3.000000,2.000000,5.000000,2.000000,3.000000,2.000000,2.000000,2.000000,4.000000,9.0
75%,35951.500000,4.000000,6.000000,4.000000,5.000000,3.000000,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,5.000000,3.000000,3.000000,4.000000,3.000000,5.000000,3.000000,4.000000,3.000000,2.000000,3.000000,5.000000,9.0
max,48466.000000,9.000000,88.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.0

In [95]:
PL_novot.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,533.000000,533.0,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.000000,533.0
mean,24331.283302,66.0,32.801126,3.292683,3.724203,2.560976,3.347092,2.422139,3.245779,3.176360,2.924953,3.181989,3.853659,2.596623,2.797373,3.373358,2.613508,4.121951,2.923077,3.131332,2.268293,2.455910,2.726079,3.701689,9.0
std,13694.663058,0.0,38.420285,1.613117,1.510899,1.517609,1.563678,1.511870,1.578047,1.597356,1.469616,1.539790,1.596863,1.418377,1.438015,1.681781,1.568237,1.587707,1.532754,1.685189,1.316919,1.430215,1.496869,1.574926,0.0
min,179.000000,66.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,13632.000000,66.0,5.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,3.000000,9.0
50%,23330.000000,66.0,7.000000,3.000000,4.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000,4.000000,2.000000,3.000000,3.000000,2.000000,4.000000,3.000000,3.000000,2.000000,2.000000,2.000000,4.000000,9.0
75%,36379.000000,66.0,88.000000,4.000000,5.000000,3.000000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,5.000000,3.000000,3.000000,4.000000,3.000000,5.000000,4.000000,4.000000,3.000000,3.000000,3.000000,5.000000,9.0
max,48555.000000,66.0,88.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.0