In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/DE_vote_close.csv")

In [3]:
df.head()
#vote -> 1:yes, 2:no, 3:not eligible to vote, 7:refusal, 8:don´t know
#clsprty_close to any party: 1:yes, 2:no, 7:no answer, 8: don´t know

,cntry,cname,cedition,cproddat,cseqno,name,essround,edition,idno,dweight,pspwght,pweight,vote,clsprty
0,DE,ESS1-8e01,1.0,12.12.2018,84321,ESS7e02_2,7,2.2,10000011,0.531346,0.607555,2.304126,1,2
1,DE,ESS1-8e01,1.0,12.12.2018,84322,ESS7e02_2,7,2.2,10000021,0.531346,0.462666,2.304126,1,1
2,DE,ESS1-8e01,1.0,12.12.2018,84323,ESS7e02_2,7,2.2,10000051,1.227808,0.640290,2.304126,1,2
3,DE,ESS1-8e01,1.0,12.12.2018,84324,ESS7e02_2,7,2.2,10000061,1.227808,1.142616,2.304126,1,2
4,DE,ESS1-8e01,1.0,12.12.2018,84325,ESS7e02_2,7,2.2,10000111,1.227808,0.852731,2.304126,1,1

In [4]:
df["vote"].value_counts()

1    4458
2     833
3     589
8       9
7       8
Name: vote, dtype: int64

In [4]:
df["clsprty"].value_counts()

1    3277
2    2579
8      23
7      18
Name: clsprty, dtype: int64

In [4]:
df.nunique()

cntry          1
cname          1
cedition       1
cproddat       1
cseqno      5897
name           2
essround       2
edition        2
idno        5820
dweight        5
pspwght      623
pweight        2
vote           5
clsprty        4
dtype: int64

In [4]:
df_p = pd.read_csv("../data/ESS1-8e01_party.csv")

In [5]:
df_p.head()

,cntry,cname,cedition,cproddat,cseqno,name,essround,edition,idno,dweight,pspwght,pweight,prtvede1,prtclede
0,DE,ESS1-8e01,1.0,12.12.2018,84321,ESS7e02_2,7,2.2,10000011,0.531346,0.607555,2.304126,2,66
1,DE,ESS1-8e01,1.0,12.12.2018,84322,ESS7e02_2,7,2.2,10000021,0.531346,0.462666,2.304126,1,1
2,DE,ESS1-8e01,1.0,12.12.2018,84323,ESS7e02_2,7,2.2,10000051,1.227808,0.640290,2.304126,1,66
3,DE,ESS1-8e01,1.0,12.12.2018,84324,ESS7e02_2,7,2.2,10000061,1.227808,1.142616,2.304126,1,66
4,DE,ESS1-8e01,1.0,12.12.2018,84325,ESS7e02_2,7,2.2,10000111,1.227808,0.852731,2.304126,1,1

In [8]:
df_p.nunique()

cntry          1
cname          1
cedition       1
cproddat       1
cseqno      5897
name           2
essround       2
edition        2
idno        5820
dweight        5
pspwght      623
pweight        2
prtvede1      12
prtclede      12
dtype: int64

In [5]:
#Party voted for in last national election
#66: they didn´t vote
df_p["prtvede1"].value_counts()

1     1595
66    1439
2     1239
4      394
3      357
77     282
88     259
6      120
5       97
9       60
7       37
8       18
Name: prtvede1, dtype: int64

In [16]:
#Which party feel closer to
#66: there´s no party they feel closer to
df_p["prtclede"].value_counts()

66    2620
1     1113
2      841
4      466
3      359
6      152
77     118
5      102
9       74
7       30
8       15
88       7
Name: prtclede, dtype: int64