In [1]:
import pandas as pd

In [2]:
raw_df = pd.read_csv("../data/ESS1-8e01.csv", low_memory=False)

In [3]:
raw_df.head(5)

,cntry,cname,cedition,cproddat,cseqno,name,essround,edition,idno,dweight,...,dscroth,dscrdk,dscrref,dscrnap,dscrna,ctzship,facntr,fbrncnt,mocntr,mbrncnt
0,AT,ESS1-8e01,1.0,12.12.2018,1,ESS1e06_6,1,6.6,1,0.9452,...,0,0,0,1,0,66,1,NaN,1,NaN
1,AT,ESS1-8e01,1.0,12.12.2018,2,ESS1e06_6,1,6.6,2,0.4726,...,1,0,0,0,0,66,1,NaN,1,NaN
2,AT,ESS1-8e01,1.0,12.12.2018,3,ESS1e06_6,1,6.6,3,0.9452,...,0,0,0,1,0,66,1,NaN,2,NaN
3,AT,ESS1-8e01,1.0,12.12.2018,4,ESS1e06_6,1,6.6,4,0.9452,...,0,0,0,1,0,66,1,NaN,1,NaN
4,AT,ESS1-8e01,1.0,12.12.2018,5,ESS1e06_6,1,6.6,6,1.8905,...,0,0,0,1,0,66,1,NaN,1,NaN

In [9]:
raw_df[raw_df["cntry"] == "ES"]

,cntry,cname,cedition,cproddat,cseqno,name,essround,edition,idno,dweight,...,dscroth,dscrdk,dscrref,dscrnap,dscrna,ctzship,facntr,fbrncnt,mocntr,mbrncnt
114463,ES,ESS1-8e01,1.0,12.12.2018,114464,ESS1e06_6,1,6.6,2,1.267200,...,0,0,0,1,0,66,1,NaN,1,NaN
114464,ES,ESS1-8e01,1.0,12.12.2018,114465,ESS1e06_6,1,6.6,5,0.844800,...,0,0,0,1,0,GB,2,NaN,2,NaN
114465,ES,ESS1-8e01,1.0,12.12.2018,114466,ESS1e06_6,1,6.6,8,1.267200,...,0,0,0,1,0,66,1,NaN,1,NaN
114466,ES,ESS1-8e01,1.0,12.12.2018,114467,ESS1e06_6,1,6.6,13,0.865200,...,0,0,0,1,0,66,1,NaN,1,NaN
114467,ES,ESS1-8e01,1.0,12.12.2018,114468,ESS1e06_6,1,6.6,15,0.865200,...,0,0,0,1,0,66,1,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129959,ES,ESS1-8e01,1.0,12.12.2018,129960,ESS8e02_1,8,2.1,3034,1.442784,...,0,0,0,1,0,NaN,1,NaN,1,NaN
129960,ES,ESS1-8e01,1.0,12.12.2018,129961,ESS8e02_1,8,2.1,3035,1.442784,...,0,0,0,1,0,NaN,1,NaN,1,NaN
129961,ES,ESS1-8e01,1.0,12.12.2018,129962,ESS8e02_1,8,2.1,3036,1.442784,...,0,0,0,1,0,NaN,1,NaN,1,NaN
129962,ES,ESS1-8e01,1.0,12.12.2018,129963,ESS8e02_1,8,2.1,3037,1.442784,...,0,0,0,1,0,NaN,2,NaN,1,NaN
129963,ES,ESS1-8e01,1.0,12.12.2018,129964,ESS8e02_1,8,2.1,3038,1.442784,...,0,0,0,0,0,NaN,2,NaN,2,NaN