In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
raw = pd.read_csv("../data/MULTI_hv_parties_9_raw.csv")
pd.set_option('display.max_columns', 500)

In [3]:
raw.head()

,idno,cntry,prtvede1,prtvede2,prtvtdfr,prtvtfhu,prtvtcit,prtvtdpl,lrscale,ipcrtiv,imprich,ipeqopt,ipshabt,impsafe,impdiff,ipfrule,ipudrst,ipmodst,ipgdtim,impfree,iphlppl,ipsuces,ipstrgv,ipadvnt,ipbhprp,iprspot,iplylfr,impenv,imptrad,impfun,Unnamed: 30
0,17,AT,NaN,NaN,NaN,NaN,NaN,NaN,9,2,2,2,2,2,2,2,3,1,2,1,2,2,2,2,2,2,2,3,2,3,NaN
1,31,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,2,4,2,4,1,4,4,2,2,2,2,1,4,1,4,1,3,1,2,1,2,NaN
2,58,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,2,4,3,2,2,3,3,3,3,3,2,3,3,3,3,2,2,2,2,2,3,NaN
3,69,AT,NaN,NaN,NaN,NaN,NaN,NaN,4,3,6,2,6,3,2,2,1,6,2,1,2,5,2,2,2,6,1,2,3,2,NaN
4,98,AT,NaN,NaN,NaN,NaN,NaN,NaN,5,3,4,3,3,2,4,4,3,4,3,3,3,4,3,5,2,3,2,3,3,3,NaN

In [4]:
cols = {'ipcrtiv':'new_ideas',
        'imprich':'rich',
        'ipeqopt':'equality',
        'ipshabt':'abilities',
        'impsafe':'safety',
        'impdiff':'new_diff',
        'ipfrule':'obey',
        'ipudrst':'understand_diff',
        'ipmodst':'modesty',
        'ipgdtim':'good_time',
        'impfree':'freedom',
        'iphlppl':'help_others',
        'ipsuces':'success',
        'ipstrgv':'strong_gov',
        'ipadvnt':'adventures',
        'ipbhprp':'behave',
        'iprspot':'get_respect',
        'iplylfr':'loyalty',
        'impenv':'nature',
        'imptrad':'traditions',
        'impfun':'fun_pleasure',
        'cntry':'country',
        'essround':'round',
        'lrscale':'leftright_scale',
        'Unnamed: 30':'round'}

In [5]:
raw_rename = raw.rename(columns=cols)

In [6]:
#We fill the NaN values on colum "round" with 9
raw_rename[['round']] = raw_rename[['round']].fillna(value=9)

In [7]:
raw_rename.head()

,idno,country,prtvede1,prtvede2,prtvtdfr,prtvtfhu,prtvtcit,prtvtdpl,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
0,17,AT,NaN,NaN,NaN,NaN,NaN,NaN,9,2,2,2,2,2,2,2,3,1,2,1,2,2,2,2,2,2,2,3,2,3,9.0
1,31,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,2,4,2,4,1,4,4,2,2,2,2,1,4,1,4,1,3,1,2,1,2,9.0
2,58,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,2,4,3,2,2,3,3,3,3,3,2,3,3,3,3,2,2,2,2,2,3,9.0
3,69,AT,NaN,NaN,NaN,NaN,NaN,NaN,4,3,6,2,6,3,2,2,1,6,2,1,2,5,2,2,2,6,1,2,3,2,9.0
4,98,AT,NaN,NaN,NaN,NaN,NaN,NaN,5,3,4,3,3,2,4,4,3,4,3,3,3,4,3,5,2,3,2,3,3,3,9.0

## Now we slice our raw dataframe to get individual df per country

## DE

In [8]:
DE_raw = raw_rename[raw_rename["country"] == "DE"]

In [9]:
DE_9=DE_raw.drop(columns=['prtvede2',
                          'prtvtdfr',
                          'prtvtfhu',
                          'prtvtcit', 
                          'prtvtdpl',])

In [10]:
DE_9 = DE_9.rename(columns={'prtvede1':'party'}).reset_index(drop=True)

In [11]:
DE_9[['party','round']] = DE_9[['party','round']].astype(int)

In [12]:
DE_9.head()

,idno,country,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
0,1,DE,4,2,2,5,1,5,5,3,5,2,6,1,1,1,3,4,5,6,4,1,1,6,4,9
1,63,DE,66,5,2,2,2,1,4,2,4,4,3,2,2,3,3,4,4,4,2,2,4,2,3,9
2,108,DE,66,88,1,1,1,1,1,5,4,3,4,3,2,2,2,2,3,2,2,2,2,3,3,9
3,117,DE,1,7,3,6,5,6,2,5,3,2,2,4,3,3,2,2,5,2,3,3,4,2,5,9
4,134,DE,1,3,4,5,1,2,1,2,2,1,3,4,2,1,2,1,4,2,5,2,1,4,5,9

In [153]:
DE_9.shape

(2358, 26)

In [243]:
DE_9 = DE_9[(~DE_9["new_ideas"].isin([7,8]))
            &(~DE_9["rich"].isin([7,8]))
            &(~DE_9["equality"].isin([7,8]))
            &(~DE_9["abilities"].isin([7,8]))
            &(~DE_9["safety"].isin([7,8]))
            &(~DE_9["new_diff"].isin([7,8]))
            &(~DE_9["obey"].isin([7,8]))
            &(~DE_9["understand_diff"].isin([7,8]))
            &(~DE_9["modesty"].isin([7,8]))
            &(~DE_9["good_time"].isin([7,8]))
            &(~DE_9["freedom"].isin([7,8]))
            &(~DE_9["help_others"].isin([7,8]))
            &(~DE_9["success"].isin([7,8]))
            &(~DE_9["strong_gov"].isin([7,8]))
            &(~DE_9["adventures"].isin([7,8]))
            &(~DE_9["behave"].isin([7,8]))
            &(~DE_9["get_respect"].isin([7,8]))
            &(~DE_9["loyalty"].isin([7,8]))
            &(~DE_9["nature"].isin([7,8]))
            &(~DE_9["traditions"].isin([7,8]))
            &(~DE_9["fun_pleasure"].isin([7,8]))]

In [244]:
DE_9.shape

(2246, 26)

#### We divide our df in 3: 
#### de_ext: those who voted for AfD (party==6)  or NPD(party==8)
#### de_novot: those who didn´t vote (party == 66)
#### de_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [297]:
DE_ext = DE_9[DE_9["party"].isin([6,8])]
DE_ext.shape

(93, 26)

In [298]:
DE_novot = DE_9[DE_9["party"] == 66]
DE_novot.shape

(449, 26)

In [299]:
DE_noext = DE_9[~DE_9["party"].isin([6,8,66,77,88])]
DE_noext.shape

(1430, 26)

In [248]:
DE_ext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.0
mean,24939.440860,6.021505,8.462366,2.365591,4.440860,2.655914,3.698925,2.247312,2.870968,3.505376,2.440860,2.537634,2.559140,1.795699,1.935484,2.903226,1.774194,4.096774,2.967742,3.473118,1.645161,2.053763,2.483871,3.139785,9.0
std,14083.130566,0.207390,13.401459,1.177552,1.183789,1.418010,1.365610,1.109797,1.408251,1.522467,1.088101,1.264560,1.183789,1.006059,0.894506,1.294340,0.979452,1.482247,1.402262,1.348037,0.816210,1.087134,1.456715,1.403345,0.0
min,239.000000,6.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,14143.000000,6.000000,5.000000,1.000000,4.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,1.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,2.000000,9.0
50%,25754.000000,6.000000,6.000000,2.000000,5.000000,2.000000,3.000000,2.000000,3.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,5.000000,3.000000,3.000000,2.000000,2.000000,2.000000,3.000000,9.0
75%,37095.000000,6.000000,8.000000,3.000000,5.000000,3.000000,5.000000,3.000000,4.000000,5.000000,3.000000,3.000000,3.000000,2.000000,2.000000,4.000000,2.000000,5.000000,4.000000,5.000000,2.000000,2.000000,3.000000,4.000000,9.0
max,48365.000000,8.000000,88.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,9.0

In [249]:
DE_noext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.0
mean,24245.568531,2.358042,5.531469,2.448951,4.538462,2.047552,3.705594,2.609091,3.105594,3.539161,2.021678,2.612587,2.454545,1.934266,1.941958,3.201399,2.378322,4.350350,3.067133,3.483916,1.575524,1.840559,2.911888,3.230769,9.0
std,14431.671084,1.708801,10.245895,1.071866,1.054626,0.998518,1.291371,1.224454,1.319248,1.421446,0.846649,1.137002,1.062941,0.953730,0.827359,1.265906,1.158631,1.249065,1.284443,1.291391,0.661520,0.875627,1.357378,1.309343,0.0
min,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,11800.750000,1.000000,3.000000,2.000000,4.000000,1.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,9.0
50%,24501.000000,2.000000,5.000000,2.000000,5.000000,2.000000,4.000000,2.000000,3.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,5.000000,3.000000,3.000000,1.000000,2.000000,3.000000,3.000000,9.0
75%,37104.000000,3.000000,5.000000,3.000000,5.000000,2.000000,5.000000,3.000000,4.000000,5.000000,2.000000,3.000000,3.000000,2.000000,2.000000,4.000000,3.000000,5.000000,4.000000,5.000000,2.000000,2.000000,4.000000,4.000000,9.0
max,48625.000000,9.000000,88.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,9.0

In [250]:
DE_novot.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,449.000000,449.0,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.0
mean,24417.204900,66.0,9.581292,2.454343,4.144766,2.048998,3.385301,2.630290,2.928731,3.685969,2.100223,2.697105,2.391982,1.988864,1.986637,3.026726,2.300668,3.770601,3.084633,3.547884,1.581292,2.109131,3.064588,2.928731,9.0
std,14398.646719,0.0,20.342123,1.168135,1.319150,1.094754,1.444156,1.299578,1.337741,1.425784,0.964191,1.292843,1.216526,1.057440,0.898809,1.337708,1.136263,1.547876,1.365048,1.419900,0.742947,1.107657,1.533209,1.360901,0.0
min,63.000000,66.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,11817.000000,66.0,3.000000,2.000000,3.000000,1.000000,2.000000,2.000000,2.000000,3.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,9.0
50%,24813.000000,66.0,5.000000,2.000000,4.000000,2.000000,3.000000,2.000000,3.000000,4.000000,2.000000,3.000000,2.000000,2.000000,2.000000,3.000000,2.000000,4.000000,3.000000,4.000000,1.000000,2.000000,3.000000,3.000000,9.0
75%,36711.000000,66.0,5.000000,3.000000,5.000000,2.000000,5.000000,3.000000,4.000000,5.000000,3.000000,3.000000,3.000000,2.000000,2.000000,4.000000,3.000000,5.000000,4.000000,5.000000,2.000000,3.000000,4.000000,4.000000,9.0
max,48602.000000,66.0,88.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,6.000000,9.0

### FR

In [20]:
FR_raw = raw_rename[raw_rename["country"] == "FR"]

In [21]:
FR_9=FR_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtfhu',
                          'prtvtcit', 
                          'prtvtdpl',])

In [22]:
FR_9 = FR_9.rename(columns={'prtvtdfr':'party'}).reset_index(drop=True)

In [23]:
FR_9[['party','round']] = FR_9[['party','round']].astype(int)

In [24]:
FR_9.head()

,idno,country,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
0,13,FR,88,3,2,6,1,2,1,1,5,1,1,1,3,2,4,1,5,2,3,2,1,2,2,9
1,26,FR,66,1,3,5,1,2,1,1,3,1,2,2,1,2,5,2,6,3,5,3,1,1,2,9
2,28,FR,7,7,2,5,2,4,1,3,3,1,4,2,4,1,4,1,6,1,4,1,3,1,3,9
3,39,FR,9,8,1,5,3,5,3,4,2,2,1,3,1,1,4,2,3,1,2,1,2,1,4,9
4,59,FR,66,5,5,5,1,3,1,5,1,1,1,4,5,2,5,1,6,1,5,4,1,1,5,9

In [156]:
FR_9.shape

(2010, 26)

In [251]:
FR_9 = FR_9[(~FR_9["new_ideas"].isin([7,8]))
            &(~FR_9["rich"].isin([7,8]))
            &(~FR_9["equality"].isin([7,8]))
            &(~FR_9["abilities"].isin([7,8]))
            &(~FR_9["safety"].isin([7,8]))
            &(~FR_9["new_diff"].isin([7,8]))
            &(~FR_9["obey"].isin([7,8]))
            &(~FR_9["understand_diff"].isin([7,8]))
            &(~FR_9["modesty"].isin([7,8]))
            &(~FR_9["good_time"].isin([7,8]))
            &(~FR_9["freedom"].isin([7,8]))
            &(~FR_9["help_others"].isin([7,8]))
            &(~FR_9["success"].isin([7,8]))
            &(~FR_9["strong_gov"].isin([7,8]))
            &(~FR_9["adventures"].isin([7,8]))
            &(~FR_9["behave"].isin([7,8]))
            &(~FR_9["get_respect"].isin([7,8]))
            &(~FR_9["loyalty"].isin([7,8]))
            &(~FR_9["nature"].isin([7,8]))
            &(~FR_9["traditions"].isin([7,8]))
            &(~FR_9["fun_pleasure"].isin([7,8]))]

In [252]:
FR_9.shape

(1804, 26)

#### We divide our df in 3: 
#### fr_ext: those who voted for FN (party==11)  
#### fr_novot: those who didn´t vote (party == 66)
#### fr_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [294]:
FR_ext = FR_9[FR_9["party"]== 11]
FR_ext.shape

(98, 26)

In [295]:
FR_novot = FR_9[FR_9["party"] == 66]
FR_novot.shape

(761, 26)

In [296]:
FR_noext = FR_9[~FR_9["party"].isin([11,66,77,88])]
FR_noext.shape

(772, 26)

In [256]:
FR_ext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,98.000000,98.0,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.0
mean,25400.714286,11.0,7.500000,2.500000,4.836735,1.938776,3.438776,2.306122,3.020408,4.112245,2.408163,2.295918,2.377551,2.244898,2.132653,4.204082,2.234694,4.132653,2.500000,3.653061,1.826531,2.142857,2.928571,2.887755,9.0
std,14907.639522,0.0,8.531627,1.416035,1.154943,0.939580,1.573402,1.380334,1.585889,1.585258,1.283011,1.451691,1.366124,1.316519,1.118152,1.442786,1.241889,1.461801,1.548195,1.753359,1.130874,1.276270,1.789143,1.552402,0.0
min,192.000000,11.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,11597.500000,11.0,5.000000,1.000000,4.000000,1.000000,2.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,3.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,9.0
50%,27681.500000,11.0,7.000000,2.000000,5.000000,2.000000,4.000000,2.000000,3.000000,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5.000000,2.000000,5.000000,2.000000,4.000000,1.000000,2.000000,2.000000,3.000000,9.0
75%,38748.000000,11.0,8.000000,3.000000,6.000000,3.000000,5.000000,3.000000,4.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,3.000000,5.000000,3.000000,5.000000,2.000000,3.000000,5.000000,4.000000,9.0
max,47579.000000,11.0,88.000000,6.000000,6.000000,4.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,9.0

In [257]:
FR_noext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.0
mean,24294.146373,6.588083,5.503886,2.599741,5.007772,1.813472,3.834197,2.818653,3.183938,3.980570,2.216321,2.348446,2.420984,2.542746,2.194301,4.286269,2.555699,4.353627,2.591969,3.757772,1.827720,1.963731,3.152850,3.154145,9.0
std,14302.730985,2.125447,7.517294,1.284104,0.868794,0.949530,1.418233,1.414494,1.435099,1.420942,1.086931,1.137310,1.230914,1.327935,1.072504,1.271117,1.312716,1.347746,1.306707,1.414994,0.937811,1.039420,1.588694,1.382988,0.0
min,28.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,11058.250000,5.000000,3.000000,2.000000,5.000000,1.000000,3.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.750000,4.000000,2.000000,3.000000,1.000000,1.000000,2.000000,2.000000,9.0
50%,24681.500000,7.000000,5.000000,2.000000,5.000000,2.000000,4.000000,3.000000,3.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5.000000,2.000000,5.000000,2.000000,4.000000,2.000000,2.000000,3.000000,3.000000,9.0
75%,37035.250000,9.000000,7.000000,4.000000,6.000000,2.000000,5.000000,4.000000,4.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,3.000000,5.000000,4.000000,5.000000,2.000000,3.000000,4.000000,4.000000,9.0
max,48632.000000,12.000000,88.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,9.0

In [258]:
FR_novot.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,761.000000,761.0,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.000000,761.0
mean,24194.151117,66.0,15.563732,2.645204,4.729304,1.913272,3.419185,2.568988,2.880420,4.073587,2.333771,2.365309,2.316689,2.294350,2.194481,4.085414,2.614980,3.967148,2.783180,3.634691,1.822602,2.201051,3.344284,2.893561,9.0
std,14211.915119,0.0,27.699496,1.349564,1.126380,1.077446,1.472234,1.352691,1.416128,1.462640,1.183895,1.220679,1.205622,1.347544,1.102161,1.465142,1.328924,1.590340,1.378035,1.512424,0.960435,1.217331,1.669304,1.442940,0.0
min,26.000000,66.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,11853.000000,66.0,4.000000,1.000000,4.000000,1.000000,2.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,2.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,9.0
50%,24496.000000,66.0,5.000000,2.000000,5.000000,2.000000,4.000000,2.000000,3.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,4.000000,2.000000,4.000000,2.000000,4.000000,2.000000,2.000000,3.000000,3.000000,9.0
75%,36671.000000,66.0,7.000000,4.000000,5.000000,2.000000,5.000000,4.000000,4.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000,5.000000,2.000000,3.000000,5.000000,4.000000,9.0
max,48504.000000,66.0,88.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,9.0

### HU

In [32]:
HU_raw = raw_rename[raw_rename["country"] == "HU"]

In [33]:
HU_9=HU_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtdfr',
                          'prtvtcit', 
                          'prtvtdpl',])

In [34]:
HU_9 = HU_9.rename(columns={'prtvtfhu':'party'}).reset_index(drop=True)

In [35]:
HU_9[['party','round']] = HU_9[['party','round']].astype(int)

In [36]:
HU_9.head()

,idno,country,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
0,36,HU,6,4,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
1,84,HU,77,5,3,4,2,2,3,3,3,5,5,2,3,3,2,1,4,3,4,3,2,5,2,9
2,126,HU,3,7,6,5,1,4,1,6,6,3,2,5,1,2,5,2,6,3,3,2,1,2,3,9
3,153,HU,7,0,3,3,1,1,1,2,3,1,1,1,1,1,2,2,5,1,1,1,1,2,1,9
4,165,HU,3,1,3,3,3,3,3,3,3,3,6,3,3,3,3,3,3,3,3,3,6,3,3,9

In [158]:
HU_9.shape

(1698, 26)

In [259]:
HU_9 = HU_9[(~HU_9["new_ideas"].isin([7,8]))
            &(~HU_9["rich"].isin([7,8]))
            &(~HU_9["equality"].isin([7,8]))
            &(~HU_9["abilities"].isin([7,8]))
            &(~HU_9["safety"].isin([7,8]))
            &(~HU_9["new_diff"].isin([7,8]))
            &(~HU_9["obey"].isin([7,8]))
            &(~HU_9["understand_diff"].isin([7,8]))
            &(~HU_9["modesty"].isin([7,8]))
            &(~HU_9["good_time"].isin([7,8]))
            &(~HU_9["freedom"].isin([7,8]))
            &(~HU_9["help_others"].isin([7,8]))
            &(~HU_9["success"].isin([7,8]))
            &(~HU_9["strong_gov"].isin([7,8]))
            &(~HU_9["adventures"].isin([7,8]))
            &(~HU_9["behave"].isin([7,8]))
            &(~HU_9["get_respect"].isin([7,8]))
            &(~HU_9["loyalty"].isin([7,8]))
            &(~HU_9["nature"].isin([7,8]))
            &(~HU_9["traditions"].isin([7,8]))
            &(~HU_9["fun_pleasure"].isin([7,8]))]

In [260]:
HU_9.shape

(1611, 26)

#### We divide our df in 3: 
#### hu_ext: those who voted for Fidesz (party==3)  
#### hu_novot: those who didn´t vote (party == 66)
#### hu_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [291]:
HU_ext = HU_9[HU_9["party"]== 3]
HU_ext.shape

(494, 26)

In [292]:
HU_novot = HU_9[HU_9["party"] == 66]
HU_novot.shape

(480, 26)

In [293]:
HU_noext = HU_9[~HU_9["party"].isin([3,66,77,88])]
HU_noext.shape

(414, 26)

In [264]:
HU_ext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,494.000000,494.0,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.0
mean,24412.012146,3.0,9.827935,2.702429,3.757085,2.619433,2.923077,2.093117,3.291498,3.595142,2.868421,2.967611,2.894737,2.580972,2.641700,3.119433,2.342105,4.216599,2.668016,3.147773,2.109312,2.291498,2.720648,2.696356,9.0
std,14121.336066,0.0,15.301591,1.542670,1.499730,1.435887,1.563450,1.445225,1.571826,1.527987,1.417399,1.446463,1.518330,1.449810,1.371679,1.558822,1.458822,1.562637,1.483892,1.613968,1.420009,1.425659,1.443633,1.415972,0.0
min,126.000000,3.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,11805.500000,3.0,6.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,9.0
50%,23768.500000,3.0,7.000000,2.000000,4.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000,3.000000,2.000000,4.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,9.0
75%,37013.250000,3.0,9.000000,3.000000,5.000000,3.000000,4.000000,3.000000,4.000000,5.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,5.000000,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,9.0
max,48546.000000,3.0,88.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.0

In [265]:
HU_noext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.00000,414.000000,414.000000,414.000000,414.000000,414.0
mean,24066.876812,5.132850,5.971014,2.821256,4.028986,2.789855,3.214976,2.463768,3.405797,3.876812,3.021739,3.024155,3.251208,2.772947,2.847826,3.483092,2.799517,4.306763,2.990338,3.42029,2.514493,2.565217,3.183575,3.002415,9.0
std,14037.608294,3.453494,12.386986,1.808490,1.719882,1.784190,1.829187,1.793826,1.834447,1.781474,1.716467,1.771279,1.826543,1.752658,1.729542,1.803535,1.766215,1.764625,1.782319,1.89230,1.812930,1.758920,1.735576,1.733446,0.0
min,36.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,9.0
25%,12353.500000,4.000000,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.00000,1.000000,2.000000,2.000000,2.000000,9.0
50%,23340.500000,5.000000,4.000000,2.000000,4.000000,2.000000,3.000000,2.000000,3.000000,4.000000,3.000000,3.000000,3.000000,2.000000,2.000000,3.000000,2.000000,4.000000,3.000000,3.00000,2.000000,2.000000,3.000000,3.000000,9.0
75%,36268.000000,7.000000,6.000000,3.000000,5.000000,3.000000,4.000000,3.000000,4.000000,5.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,5.000000,4.000000,4.00000,3.000000,3.000000,4.000000,4.000000,9.0
max,48622.000000,55.000000,88.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.0

In [266]:
HU_novot.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,480.000000,480.0,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.0
mean,24402.395833,66.0,31.485417,2.808333,3.654167,2.718750,3.056250,2.354167,3.243750,3.525000,3.050000,3.172917,3.006250,2.654167,2.847917,3.279167,2.752083,3.952083,2.908333,3.264583,2.414583,2.595833,2.956250,2.825000,9.0
std,13912.199748,0.0,37.623114,1.511519,1.461112,1.407578,1.419725,1.419953,1.514358,1.443219,1.309034,1.398365,1.394128,1.362020,1.306718,1.483797,1.454600,1.539933,1.347670,1.438654,1.330937,1.355105,1.369273,1.295004,0.0
min,414.000000,66.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,11529.750000,66.0,5.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,9.0
50%,24586.500000,66.0,6.000000,2.000000,4.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000,2.000000,4.000000,3.000000,3.000000,2.000000,2.000000,3.000000,3.000000,9.0
75%,36102.000000,66.0,77.000000,3.250000,5.000000,3.000000,4.000000,3.000000,4.000000,5.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,9.0
max,48466.000000,66.0,88.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.0

### IT

In [44]:
IT_raw = raw_rename[raw_rename["country"] == "IT"]

In [45]:
IT_9=IT_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtdfr',
                          'prtvtfhu', 
                          'prtvtdpl',])

In [46]:
IT_9 = IT_9.rename(columns={'prtvtcit':'party'}).reset_index(drop=True)

In [47]:
IT_9[['party','round']] = IT_9[['party','round']].astype(int)

In [48]:
IT_9.head()

,idno,country,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
0,5,IT,7,7,3,4,2,2,3,4,3,1,3,4,3,1,3,3,4,2,3,3,2,2,4,9
1,11,IT,8,8,2,4,2,2,1,4,4,4,2,3,2,2,2,1,3,2,1,1,2,2,4,9
2,15,IT,14,77,3,6,1,5,1,4,1,1,2,4,3,3,2,1,6,1,1,2,3,1,3,9
3,41,IT,66,88,2,2,2,2,2,2,2,4,3,2,3,3,2,3,2,3,2,2,3,2,2,9
4,46,IT,66,88,6,6,2,3,2,5,2,4,2,6,4,2,3,2,6,2,3,3,3,1,4,9

In [150]:
IT_9.shape

(2745, 26)

In [267]:
IT_9 = IT_9[(~IT_9["new_ideas"].isin([7,8]))
            &(~IT_9["rich"].isin([7,8]))
            &(~IT_9["equality"].isin([7,8]))
            &(~IT_9["abilities"].isin([7,8]))
            &(~IT_9["safety"].isin([7,8]))
            &(~IT_9["new_diff"].isin([7,8]))
            &(~IT_9["obey"].isin([7,8]))
            &(~IT_9["understand_diff"].isin([7,8]))
            &(~IT_9["modesty"].isin([7,8]))
            &(~IT_9["good_time"].isin([7,8]))
            &(~IT_9["freedom"].isin([7,8]))
            &(~IT_9["help_others"].isin([7,8]))
            &(~IT_9["success"].isin([7,8]))
            &(~IT_9["strong_gov"].isin([7,8]))
            &(~IT_9["adventures"].isin([7,8]))
            &(~IT_9["behave"].isin([7,8]))
            &(~IT_9["get_respect"].isin([7,8]))
            &(~IT_9["loyalty"].isin([7,8]))
            &(~IT_9["nature"].isin([7,8]))
            &(~IT_9["traditions"].isin([7,8]))
            &(~IT_9["fun_pleasure"].isin([7,8]))]

In [268]:
IT_9.shape

(2457, 26)

#### We divide our df in 3: 
#### it_ext: those who voted for Lega (party==9)  
#### it_novot: those who didn´t vote (party == 66)
#### it_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [288]:
IT_ext = IT_9[IT_9["party"]== 9]
IT_ext.shape

(246, 26)

In [289]:
IT_novot = IT_9[IT_9["party"] == 66]
IT_novot.shape

(656, 26)

In [290]:
IT_noext = IT_9[~IT_9["party"].isin([9,66,77,88])]
IT_noext.shape

(940, 26)

In [272]:
IT_ext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,246.000000,246.0,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.0
mean,26412.975610,9.0,10.052846,2.804878,3.772358,2.467480,2.731707,1.959350,3.000000,2.556911,2.666667,2.455285,3.565041,2.256098,2.337398,2.426829,1.914634,4.174797,2.378049,2.386179,2.154472,2.012195,2.154472,3.178862,9.0
std,13541.213448,0.0,13.914654,1.192894,1.169776,0.928549,1.222731,1.025379,1.248673,1.186150,1.051077,1.028191,1.284856,1.011900,0.914723,1.061733,0.963004,1.317827,0.942947,1.132656,0.876286,0.953968,1.073104,1.248885,0.0
min,149.000000,9.0,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,15685.750000,9.0,7.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,9.0
50%,26178.000000,9.0,8.000000,3.000000,4.000000,2.000000,3.000000,2.000000,3.000000,2.000000,3.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,9.0
75%,38993.000000,9.0,8.000000,3.000000,5.000000,3.000000,3.000000,2.000000,4.000000,3.000000,3.000000,3.000000,4.000000,3.000000,3.000000,3.000000,2.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,9.0
max,48553.000000,9.0,88.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,5.000000,5.000000,6.000000,6.000000,6.000000,5.000000,6.000000,5.000000,5.000000,6.000000,6.000000,9.0

In [273]:
IT_noext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.00000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.0
mean,24472.784043,5.591489,9.893617,2.655319,3.991489,2.275532,2.763830,2.126596,2.992553,2.823404,2.437234,2.426596,3.617021,2.345745,2.26383,2.423404,2.051064,4.156383,2.487234,2.534043,2.076596,1.920213,2.330851,3.369149,9.0
std,14166.470077,3.250810,20.002379,1.167689,1.182915,1.014085,1.162775,1.070435,1.152368,1.188642,0.945420,1.025726,1.250400,1.040517,0.89286,1.053158,1.029671,1.322377,1.016816,1.228830,0.848782,0.918984,1.092186,1.302453,0.0
min,5.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,12469.250000,1.000000,3.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.00000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,9.0
50%,24149.000000,7.000000,5.000000,3.000000,4.000000,2.000000,3.000000,2.000000,3.000000,3.000000,2.000000,2.000000,3.500000,2.000000,2.00000,2.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,9.0
75%,37019.250000,7.000000,7.000000,3.000000,5.000000,3.000000,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,3.00000,3.000000,3.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,9.0
max,48502.000000,14.000000,88.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.00000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,9.0

In [274]:
IT_novot.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,656.000000,656.0,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.0
mean,25043.721037,66.0,42.449695,2.891768,3.853659,2.275915,2.792683,2.065549,3.053354,2.879573,2.625000,2.478659,3.685976,2.483232,2.373476,2.637195,2.118902,4.149390,2.483232,2.644817,2.169207,2.161585,2.315549,3.440549,9.0
std,14304.814714,0.0,39.808364,1.268115,1.247869,0.990843,1.200385,1.052936,1.289495,1.132104,1.039488,1.040919,1.359901,1.058456,0.943842,1.153589,1.047517,1.416026,1.046853,1.222088,0.980900,1.037372,1.102171,1.432279,0.0
min,41.000000,66.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,12186.500000,66.0,5.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,9.0
50%,25649.000000,66.0,8.000000,3.000000,4.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,2.000000,4.000000,2.000000,2.000000,3.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,9.0
75%,37950.000000,66.0,88.000000,4.000000,5.000000,3.000000,4.000000,3.000000,4.000000,4.000000,3.000000,3.000000,5.000000,3.000000,3.000000,3.000000,3.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,9.0
max,48633.000000,66.0,88.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,9.0

### PL

In [56]:
PL_raw = raw_rename[raw_rename["country"] == "PL"]

In [57]:
PL_9=PL_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtdfr',
                          'prtvtfhu', 
                          'prtvtcit',])

In [58]:
PL_9 = PL_9.rename(columns={'prtvtdpl':'party'}).reset_index(drop=True)

In [59]:
PL_9[['party','round']] = PL_9[['party','round']].astype(int)

In [60]:
PL_9.head()

,idno,country,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
0,25,PL,6,8,1,5,2,4,3,4,3,2,4,5,2,3,4,2,5,4,5,3,1,3,5,9
1,35,PL,2,9,2,2,2,2,2,2,8,4,6,2,1,4,2,2,2,2,2,2,2,3,2,9
2,49,PL,3,4,3,4,1,3,1,2,5,1,2,2,1,1,2,2,3,3,1,1,1,3,2,9
3,133,PL,6,9,5,4,2,4,2,2,2,3,2,5,3,3,4,2,5,2,2,2,3,2,4,9
4,179,PL,66,5,2,2,2,2,3,2,4,2,5,2,2,3,2,3,2,5,3,2,2,6,2,9

In [160]:
PL_9.shape

(1500, 26)

In [275]:
PL_9 = PL_9[(~PL_9["new_ideas"].isin([7,8]))
            &(~PL_9["rich"].isin([7,8]))
            &(~PL_9["equality"].isin([7,8]))
            &(~PL_9["abilities"].isin([7,8]))
            &(~PL_9["safety"].isin([7,8]))
            &(~PL_9["new_diff"].isin([7,8]))
            &(~PL_9["obey"].isin([7,8]))
            &(~PL_9["understand_diff"].isin([7,8]))
            &(~PL_9["modesty"].isin([7,8]))
            &(~PL_9["good_time"].isin([7,8]))
            &(~PL_9["freedom"].isin([7,8]))
            &(~PL_9["help_others"].isin([7,8]))
            &(~PL_9["success"].isin([7,8]))
            &(~PL_9["strong_gov"].isin([7,8]))
            &(~PL_9["adventures"].isin([7,8]))
            &(~PL_9["behave"].isin([7,8]))
            &(~PL_9["get_respect"].isin([7,8]))
            &(~PL_9["loyalty"].isin([7,8]))
            &(~PL_9["nature"].isin([7,8]))
            &(~PL_9["traditions"].isin([7,8]))
            &(~PL_9["fun_pleasure"].isin([7,8]))]

In [276]:
PL_9.shape

(1312, 26)

#### We divide our df in 3: 
#### pl_ext: those who voted for PiS (party==6)  
#### pl_novot: those who didn´t vote (party == 66)
#### pl_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [285]:
PL_ext = PL_9[PL_9["party"]== 6]
PL_ext.shape

(342, 26)

In [286]:
PL_novot = PL_9[PL_9["party"] == 66]
PL_novot.shape

(466, 26)

In [287]:
PL_noext = PL_9[~PL_9["party"].isin([6,66,77,88])]
PL_noext.shape

(387, 26)

In [280]:
PL_ext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,342.000000,342.0,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.0
mean,24279.532164,6.0,10.982456,3.400585,4.137427,2.482456,3.502924,2.216374,3.608187,2.573099,2.769006,2.947368,4.315789,2.576023,2.622807,3.520468,2.219298,4.643275,2.564327,2.926901,2.280702,2.233918,2.040936,4.099415,9.0
std,14051.298957,0.0,15.745026,1.571483,1.393892,1.409431,1.513863,1.490919,1.555896,1.420083,1.441683,1.576079,1.426493,1.510009,1.376747,1.559529,1.441481,1.389613,1.463219,1.620228,1.394430,1.400970,1.438298,1.536095,0.0
min,25.000000,6.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,12510.750000,6.0,7.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,4.000000,2.000000,2.000000,2.000000,1.000000,1.000000,3.000000,9.0
50%,23879.500000,6.0,8.000000,3.000000,4.000000,2.000000,3.000000,2.000000,3.500000,2.000000,2.000000,3.000000,4.000000,2.000000,2.000000,3.000000,2.000000,5.000000,2.000000,3.000000,2.000000,2.000000,2.000000,4.000000,9.0
75%,37647.000000,6.0,10.000000,4.000000,5.000000,3.000000,5.000000,3.000000,5.000000,3.000000,3.000000,4.000000,5.000000,3.000000,3.000000,5.000000,3.000000,5.000000,3.000000,4.000000,3.000000,3.000000,2.000000,5.000000,9.0
max,48396.000000,6.0,88.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.0

In [281]:
PL_noext.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.0
mean,24590.886305,4.105943,9.010336,2.842377,3.888889,2.237726,3.020672,2.131783,2.989664,2.749354,2.392765,3.136951,3.826873,2.131783,2.379845,3.000000,2.222222,4.136951,2.581395,2.739018,2.000000,1.894057,2.400517,3.767442,9.0
std,13589.427386,1.624502,19.319106,1.295053,1.309810,1.119920,1.356079,1.133886,1.244635,1.239137,1.065594,1.327022,1.274908,1.115458,0.983231,1.271448,1.207585,1.373077,1.131492,1.302291,0.952227,0.990442,1.188154,1.322454,0.0
min,49.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0
25%,12573.500000,4.000000,3.000000,2.000000,3.000000,1.500000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,1.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,3.000000,9.0
50%,25054.000000,4.000000,5.000000,3.000000,4.000000,2.000000,3.000000,2.000000,3.000000,2.000000,2.000000,3.000000,4.000000,2.000000,2.000000,3.000000,2.000000,4.000000,2.000000,3.000000,2.000000,2.000000,2.000000,4.000000,9.0
75%,35879.000000,4.000000,6.000000,4.000000,5.000000,3.000000,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,5.000000,3.000000,3.000000,4.000000,3.000000,5.000000,3.000000,3.000000,2.000000,2.000000,3.000000,5.000000,9.0
max,48466.000000,9.000000,88.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.0

In [282]:
PL_novot.describe()

,idno,party,leftright_scale,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure,round
count,466.000000,466.0,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.00000,466.000000,466.000000,466.0
mean,24250.193133,66.0,30.639485,3.175966,3.686695,2.407725,3.203863,2.319742,3.113734,3.087983,2.819742,3.115880,3.733906,2.510730,2.699571,3.184549,2.500000,3.995708,2.843348,2.965665,2.210300,2.38412,2.639485,3.598712,9.0
std,13597.069519,0.0,37.622672,1.520873,1.510008,1.333225,1.455899,1.368901,1.506239,1.454243,1.344730,1.450059,1.537352,1.329925,1.288443,1.505637,1.413073,1.579432,1.424490,1.496556,1.271178,1.32490,1.379912,1.533819,0.0
min,179.000000,66.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,9.0
25%,13801.250000,66.0,5.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.00000,2.000000,2.250000,9.0
50%,22936.000000,66.0,7.000000,3.000000,4.000000,2.000000,3.000000,2.000000,3.000000,3.000000,2.000000,3.000000,4.000000,2.000000,3.000000,3.000000,2.000000,4.000000,2.000000,3.000000,2.000000,2.00000,2.000000,3.000000,9.0
75%,35593.500000,66.0,88.000000,4.000000,5.000000,3.000000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,5.000000,3.000000,3.000000,4.000000,3.000000,5.000000,4.000000,4.000000,3.000000,3.00000,3.000000,5.000000,9.0
max,48555.000000,66.0,88.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.0