In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
pd.set_option('display.max_columns', 500)
raw = pd.read_csv("../data/MULTI_unemployed_round9_raw.csv")

In [3]:
raw.head()

,essround,idno,cntry,prtvede1,prtvtdfr,prtvtfhu,prtvtcit,prtvtdpl,uempla,uempli,Unnamed: 10
0,9,17,AT,NaN,NaN,NaN,NaN,NaN,0,0,NaN
1,9,31,AT,NaN,NaN,NaN,NaN,NaN,0,0,NaN
2,9,58,AT,NaN,NaN,NaN,NaN,NaN,0,0,NaN
3,9,69,AT,NaN,NaN,NaN,NaN,NaN,0,0,NaN
4,9,98,AT,NaN,NaN,NaN,NaN,NaN,0,0,NaN

In [4]:
countries = ['DE','FR','IT','PL','HU']

In [5]:
raw = raw[raw['cntry'].isin(countries)].drop(columns='Unnamed: 10').reset_index(drop=True)

In [6]:
raw.head()

,essround,idno,cntry,prtvede1,prtvtdfr,prtvtfhu,prtvtcit,prtvtdpl,uempla,uempli
0,9,1,DE,4.0,NaN,NaN,NaN,NaN,0,0
1,9,63,DE,66.0,NaN,NaN,NaN,NaN,0,0
2,9,108,DE,66.0,NaN,NaN,NaN,NaN,1,0
3,9,117,DE,1.0,NaN,NaN,NaN,NaN,0,0
4,9,134,DE,1.0,NaN,NaN,NaN,NaN,0,0

In [7]:
cols = {'essround':'round',
        'cntry':'country',
        'prtvede1':'party_de',
        'prtvtdfr':'party_fr', 
        'prtvtfhu':'party_hu',
        'prtvtcit':'party_it',
        'prtvtdpl':'party_pl', 
        'uempla':'unempl_act_looking', 
        'uempli':'unempl_not_looking'}

In [9]:
df = raw.rename(columns=cols)

In [10]:
df.head()

,round,idno,country,party_de,party_fr,party_hu,party_it,party_pl,unempl_act_looking,unempl_not_looking
0,9,1,DE,4.0,NaN,NaN,NaN,NaN,0,0
1,9,63,DE,66.0,NaN,NaN,NaN,NaN,0,0
2,9,108,DE,66.0,NaN,NaN,NaN,NaN,1,0
3,9,117,DE,1.0,NaN,NaN,NaN,NaN,0,0
4,9,134,DE,1.0,NaN,NaN,NaN,NaN,0,0

### Now we slice our df and create different subsets for each country
#### DE

In [11]:
de=df[df['country']=='DE'].drop(columns=['party_fr','party_hu','party_it','party_pl']).reset_index(drop=True)

In [12]:
#### Now we divide again our df in 3: 
#### de_f: those who voted for AfD (party==6)
#### de_novot: those who didn´t vote (party == 66)
#### de_nof: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [21]:
de_f = de[de['party_de']== 6]

In [23]:
de_novot = de[de['party_de'] == 66]

In [25]:
de_nof = de[~de["party_de"].isin([6,66,77,88])]

#### FR

In [35]:
fr=df[df['country']=='FR'].drop(columns=['party_de','party_hu','party_it','party_pl']).reset_index(drop=True)

In [36]:
#### fr_f: those who voted for FN (party==11)  
#### fr_novot: those who didn´t vote (party == 66)
#### fr_nof: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [37]:
fr_f = fr[fr["party_fr"]==11]

In [38]:
fr_novot = fr[fr["party_fr"]==66]

In [39]:
fr_nof = fr[~fr["party_fr"].isin([11,66,77,88])]

#### IT

In [40]:
it=df[df['country']=='IT'].drop(columns=['party_de','party_hu','party_fr','party_pl']).reset_index(drop=True)

In [ ]:
#### it_f: those who voted for Lega (party==9)  
#### it_novot: those who didn´t vote (party == 66)
#### it_nof: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [41]:
it_f = it[it["party_it"]==9]

In [42]:
it_novot = it[it["party_it"]==66]

In [43]:
it_nof = it[~it["party_it"].isin([9,66,77,88])]

#### PL

In [44]:
pl=df[df['country']=='PL'].drop(columns=['party_de','party_hu','party_fr','party_it']).reset_index(drop=True)

In [45]:
#### pl_f: those who voted for PiS (party==6)  
#### pl_novot: those who didn´t vote (party == 66)
#### pl_nof: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [46]:
pl_f = pl[pl["party_pl"]==6]

In [47]:
pl_novot = pl[pl["party_pl"]==66]

In [48]:
pl_nof = pl[~pl["party_pl"].isin([6,66,77,88])]

#### HU

In [49]:
hu=df[df['country']=='HU'].drop(columns=['party_de','party_pl','party_fr','party_it']).reset_index(drop=True)

In [50]:
#### hu_f: those who voted for Fidesz (party==3)  
#### hu_novot: those who didn´t vote (party == 66)
#### hu_nof: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [52]:
hu_f = hu[hu["party_hu"]==3]

In [53]:
hu_novot = hu[hu["party_hu"]==66]

In [54]:
hu_nof = hu[~hu["party_hu"].isin([3,66,77,88])]

### We look at the percentages of unemployed people within our respondents
#### DE

In [31]:
de_f['unempl_act_looking'].value_counts()

0    96
Name: unempl_act_looking, dtype: int64

In [32]:
de_f['unempl_not_looking'].value_counts()

0    94
1     2
Name: unempl_not_looking, dtype: int64

#### FR

In [55]:
fr_f['unempl_act_looking'].value_counts()

0    102
1      1
Name: unempl_act_looking, dtype: int64

In [57]:
fr_f['unempl_not_looking'].value_counts()

0    101
1      2
Name: unempl_not_looking, dtype: int64

#### IT

In [60]:
it_f['unempl_act_looking'].value_counts()

0    244
1     21
Name: unempl_act_looking, dtype: int64

In [61]:
it_f['unempl_not_looking'].value_counts()

0    262
1      3
Name: unempl_not_looking, dtype: int64

#### PL

In [62]:
pl_f['unempl_act_looking'].value_counts()

0    367
1      7
Name: unempl_act_looking, dtype: int64

In [64]:
pl_f['unempl_not_looking'].value_counts()

0    367
1      7
Name: unempl_not_looking, dtype: int64

#### HU

In [66]:
hu_f['unempl_act_looking'].value_counts()

0    517
1      7
Name: unempl_act_looking, dtype: int64

In [68]:
hu_f['unempl_not_looking'].value_counts()

0    516
1      8
Name: unempl_not_looking, dtype: int64